<template>
  <div id="page-index" class="">
    <div class="header-bottom">
      <div class="header-bottom-contain">
        <div class="header-bottom-left">
          <h3></h3>
        </div>
        <div class="header-bottom-right">
          <p>客服热线：400-8552-685,400-8585-685（帮我帮我来帮我）</p>
          <p>服务时间：工作日： 9:00-17:00</p>
        </div>
      </div>
    </div>
    <div class="user-contain" style="margin-top:20px;">
		<div class="contain-tab-block">
			<div class="tab-block tab-red">
				<!--标签页头-->
				<ul id="investTab" class="nav nav-tabs">
				    <li class="active">
				       <a href="#hzb" data-toggle="tab">互助宝</a>
				    </li>
				    <li>
				    	<a href="../transfer/list.htm" tppabs="http://www.huzhujinfu.com/transfer/list" data-toggle="tab">转让市场</a>
				    </li>
				    <!-- <li>
				    	<a href="#lct" data-toggle="tab">
				    		理财通
				    	</a>
				    </li> -->
					</ul>
					<div id="investTabContent" class="tab-content choose-content">
						<!--互助宝-->
						<form action="http://www.huzhujinfu.com/loan/search" method="post" id="searchForm">
							<input type="hidden" name="orderType" id="orderType" value="status">
							<input type="hidden" name="sortOrder" id="sortOrder" value="asc">
							<div class="tab-pane fade in active" id="hzb">
						
								<a href="javascript:risk()"><span id="riskDiv" style="color: #d71345;float: right;">什么是风险等级？</span></a>
						    	<ul class="list-inline">
						    		<li>风 险：</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="risk" value="0" checked="checked">
						    				<p>全部</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="risk" value="1">
						    				<p>低风险</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="risk" value="2">
						    				<p>中风险</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="risk" value="3">
						    				<p>高风险</p>
						    			</label>
						    		</li>
						    	</ul>
						    	
						    	<ul class="list-inline">
						    		<li>类 型：</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="loanType" value="0" checked="checked">
						    				<p>全部</p>
						    			</label>
						    		</li>
						    	
						    		<li>
						    			<label>
						    				<input type="radio" name="loanType" value="2">
						    				<p>助车贷</p>
						    			</label>
						    		</li>
						    	
						    		<li>
						    			<label>
						    				<input type="radio" name="loanType" value="5">
						    				<p>租金分期</p>
						    			</label>
						    		</li>
						    		
						    		<li>
						    			<label>
						    				<input type="radio" name="loanType" value="6">
						    				<p>消费分期</p>
						    			</label>
						    		</li>
						    	</ul>
						    	<ul class="list-inline">
						    		<li>期 限：</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="timePeroid" value="0" checked="checked">
						    				<p>全部</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="timePeroid" value="13">
						    				<p>1~3个月</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="timePeroid" value="46">
						    				<p>4~6个月</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="timePeroid" value="79">
						    				<p>7~9个月</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="timePeroid" value="1012">
						    				<p>10~12个月</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="timePeroid" value="1324">
						    				<p>13~24个月</p>
						    			</label>
						    		</li>
						    		<li>
						    			<label>
						    				<input type="radio" name="timePeroid" value="2560">
						    				<p>25~60个月</p>
						    			</label>
						    		</li>
						    	</ul>
					    	</div>
					    </form>
					</div>
				</div>
			</div>
			<!--理财导航-->
			<div class="invest-navbar">
				<nav class="navbar navbar-default" role="navigation">
					<ul class="nav navbar-nav">
				    	<li class="active">
				            <a href="javascript:void(0)" style="cursor:default;">
					                          综合排序
				            </a>
				        </li>
				        <li class="dropdown">
				            <a href="javascript:void(0)" class="sortCls" val="jine">
					                          金额
					        <b class="caret"></b>
				    		</a>
<!-- 				    		<ul class="dropdown-menu"> -->
<!-- 				               <li><a href="#">10万</a></li> -->
<!-- 				               <li><a href="#">20万</a></li> -->
<!-- 				            </ul> -->
				        </li>
				        <li class="dropdown">
				            <a href="javascript:void(0)" class="sortCls" val="lilv">
					                            年化收益 
					               <b class="caret"></b>
				            </a>
<!-- 				            <ul class="dropdown-menu"> -->
<!-- 				               <li><a href="#">年化收益</a></li> -->
<!-- 				               <li><a href="#">年化收益</a></li> -->
<!-- 				           </ul> -->
				        </li>
				        <li class="dropdown">
				           <a href="javascript:void(0)" class="sortCls" val="jindu">
				              	项目进度 
				               	<b class="caret"></b>
				           </a>
<!-- 				           <ul class="dropdown-menu"> -->
<!-- 				              <li><a href="#">项目进度</a></li> -->
<!-- 				              <li><a href="#">项目进度</a></li> -->
<!-- 				          </ul> -->
				        </li>
				        <li class="dropdown">
				           <a href="javascript:void(0)" class="sortCls" val="riqi">
				              	发布日期 
				               	<b class="caret"></b>
				           </a>
<!-- 				           <ul class="dropdown-menu"> -->
<!-- 				              <li><a href="#">发布日期</a></li> -->
<!-- 				              <li><a href="#">发布日期</a></li> -->
<!-- 				          </ul> -->
				        </li>
					</ul>
				</nav>
			</div>
			<!--理财列表-->
			<div class="contain-list-block">
				<div class="invest-list">
					<ul class="list-inline" id="loandata">
						<!--列表-->
						<li>
							<img class="invest-new" src="../../assets/img/public/new-tag.png">
							<div class="invest-box">
								<div class="invest-box-item">
									<p class="invest-item-name">汽车抵押</p>
									<p class="invest-item-id">B15498796123065</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">年化收益</p>
									<p class="invest-item-value-large">
										<span class="large-value">8</span>%
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">理财期限</p>
									<p class="invest-item-value">
										<span class="middle-value">1</span>个月
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">总金额</p>
									<p class="invest-item-value">
										<span class="middle-value">350,000</span>元
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">可投金额：<strong>300,000</strong>元</p>
									<div class="invest-progress">
										<span class="invest-progress-now" style="width: 92%;"></span>
										<span class="invest-progress-value">92%</span>
										<span class="invest-add">+</span>
									</div>
									<!-- <div class="invest-progress invest-full">
										满 标
									</div>
									<div class="invest-progress invest-repay">
										还款中
									</div> -->
								</div>
							</div>
						</li>
						<li>
							<!-- <img class="invest-new" src="../static/img/public/new-tag.png" > -->
							<div class="invest-box">
								<div class="invest-box-item">
									<p class="invest-item-name">汽车抵押</p>
									<p class="invest-item-id">B15498796123065</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">年化收益</p>
									<p class="invest-item-value-large">
										<span class="large-value">8</span>%
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">理财期限</p>
									<p class="invest-item-value">
										<span class="middle-value">1</span>个月
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">总金额</p>
									<p class="invest-item-value">
										<span class="middle-value">350,000</span>元
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">可投金额：<strong>300,000</strong>元</p>
									<!-- <div class="invest-progress">
										<span class="invest-progress-now" style="width: 92%;"></span>
										<span class="invest-progress-value">92%</span>
										<span class="invest-add">+</span>
									</div> -->
									<div class="invest-progress invest-full">
										满 标
									</div>
									<!-- <div class="invest-progress invest-repay">
										还款中
									</div> -->
								</div>
							</div>
						</li>
						<li>
							<!-- <img class="invest-new" src="../static/img/public/new-tag.png" > -->
							<div class="invest-box invest-repay-box">
								<div class="invest-box-item">
									<p class="invest-item-name">汽车抵押</p>
									<p class="invest-item-id">B15498796123065</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">年化收益</p>
									<p class="invest-item-value-large">
										<span class="large-value">8</span>%
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">理财期限</p>
									<p class="invest-item-value">
										<span class="middle-value">1</span>个月
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">总金额</p>
									<p class="invest-item-value">
										<span class="middle-value">350,000</span>元
									</p>
								</div>
								<div class="invest-box-item">
									<p class="invest-item-label">可投金额：<strong>0</strong>元</p>
									<!-- <div class="invest-progress">
										<span class="invest-progress-now" style="width: 92%;"></span>
										<span class="invest-progress-value">92%</span>
										<span class="invest-add">+</span>
									</div>
									< div class="invest-progress invest-full">
										满 标
									</div> -->
									<div class="invest-progress invest-repay">
										还款中
									</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
				<!--翻页-->
				<div id="page1" class="m-pagination"></div>
			</div>
		</div>
  </div>
</template>

<script>
  export default {
    name: 'financial',
    data() {
      return {
        msg: 'Welcome  to Your Vue.js App'
      }
    }
  }

</script>

<style lang="scss" type='stylesheet/scss'>
  @import './style';
</style>