.header-bottom{width: 100%; height: 40px; background-color: #d71345;}
.header-bottom .header-bottom-contain{width: 1000px; margin: auto; overflow: hidden; padding-top: 2px; color: #FFFFFF; }
.header-bottom-contain .header-bottom-left{float: left;}
.header-bottom-contain .header-bottom-right{float: right;}
.header-bottom-left h3{font-size: 18px;padding-top: 10px; padding-left: 38px; }
.header-bottom-right p{font-size: 10px;}
.tab-red .nav-tabs > li.active > a{border-top: 2px solid #d71345;color: #d71345;}
.tab-red .tab-content li{width: auto;border: none;font-size: 14px;padding: 0px 10px;}
.tab-red input[type=radio]{display: none;}
.tab-red input:checked + p{padding: 0px 10px;color: #FFFFFF;background-color: #d71345;}
.tab-red li p{cursor: pointer;}
.user-contain {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
/*css*/
	.tab-red input + p {
		padding: 0px 15px;
	}
	.tab-red input:checked + p {
		padding: 0px 15px;
		border-radius: 3px; 
	}
	.tab-red .tab-content li {
		padding: 0;
	}
	.contain-tab-block .tab-content li {
		margin-right: 23px;
	}
	.contain-tab-block .nav-tabs > li > a {
		border: 1px solid #f7f5f5;
		border-left: none;
		margin-bottom: -1px;
	}
	.navbar-nav > li > a {
		min-width: 100px;
		padding: 15px 20px;
		text-align: center;
	}
	.invest-list{
		margin: 0;
	}
	.invest-list > ul.list-inline {
		margin: 0;
	}
	.invest-list > ul.list-inline > li {
		position: relative;
		width: 100%;
		height: 240px;
		border: 1px solid #eee;
		background-color: #fff;
		padding: 55px 0;
		margin-left: 0;
		margin-right: 0;
	}
	.invest-list > ul.list-inline > li .invest-new {
		position: absolute;
		top: -5px;
		left: 0;
	}
	.invest-list > ul.list-inline > li .invest-box-item {
		float: left;
		width: 19%;
		height: 128px;
		margin-left: -1px;
		border-right: 1px solid #e2e2e2;
		padding: 15px;
		text-align: center;
	}
	.invest-list > ul.list-inline > li .invest-box-item:last-child {
		width: 24%;
		border: none;
	}
	.invest-list > ul.list-inline > li .invest-item-name {
		margin-top: 20px;
		margin-bottom: 10px;
		color: #d71345;
		font-weight: bold;
		font-size: 18px;
	}
	.invest-list > ul.list-inline > li .invest-item-id {
		color: #ccc;
		font-size: 14px;
	}
	.invest-list > ul.list-inline > li .invest-item-label {
		color: #555;
		font-size: 14px;
	}
	.invest-list > ul.list-inline > li .invest-box-item:last-child .invest-item-label {
		text-align: left;
		padding-left: 15px;
	}
	.invest-list > ul.list-inline > li .invest-item-value {
		color: #d71345;
		font-size: 18px;
		line-height: 100%;
		margin-top: 35px;
	}
	.invest-list > ul.list-inline > li .invest-item-value-large {
		color: #d71345;
		font-size: 32px;
		line-height: 100%;
		margin-top: 23px;
	}
	.invest-list > ul.list-inline > li .large-value {
		font-weight: 600;
		font-size: 52px;
		margin-right: 5px;
	}
	.invest-list > ul.list-inline > li .middle-value {
		font-weight: 600;
		font-size: 24px;
		margin-right: 3px;
	}
	.invest-list > ul.list-inline > li .invest-progress {
		position: relative;
		width: 180px;
		height: 40px; 
		line-height: 40px;
		font-size: 16px;
		background: #e2e2e2;
		border-radius: 3px;
		margin: 20px auto;
		color: #fff;
		overflow: hidden;
	}
	.invest-list > ul.list-inline > li .invest-progress-now {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		background: #d71345;
		min-width: 2%;
		max-width: 100%;
		height: 40px; 
	}
	.invest-list > ul.list-inline > li .invest-progress-value {
		position: relative;
		z-index: 2;
		float: left;
		margin-left: 15px;
	}
	.invest-list > ul.list-inline > li .invest-add {
		position: relative;
		z-index: 2;
		float: right;
		font-weight: bold;
		margin-right: 25px;
	}
	.invest-list > ul.list-inline > li .invest-repay {
		background: #888;
	}
	.invest-list > ul.list-inline > li .invest-full {
		background: #d71345;
	}
	.invest-list > ul.list-inline > li .invest-repay-box .invest-item-name,
	.invest-list > ul.list-inline > li .invest-repay-box .invest-item-value,
	.invest-list > ul.list-inline > li .invest-repay-box .invest-item-value-large {
		color: #888;
	}