<template>
    <div id="page-footer">
        <div class="footer" style="height:0px;">
            <div class="footer-top-div" style="background-color:#f6f6f6;">
                <div style="width: 1000px; margin: 0 auto;height: 180px;">
                    <div style="float: left; width: 550px;">
                        <P>客服热线：（工作日9:00-17:30）</p>
                        <p class="tel_span">400-8552-685</p>
                        <p class="tel_span">400-8552-685</p>
                        <p style="font-size: 18px;">福建互助金服金融技术服务有限公司</p>
                        <p>厦门总部：厦门市思明区湖滨西路9号亿力大厦31D</p>
                        <p>微信微官网：huzhudai_news</p>
                    </div>
                    <div style="float: right; width: 450px;">
                        <div style="float: left;">
                        <ul>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                        </ul>
                        <ul>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                        </ul>
                        <ul>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                            <li>|</li>
                            <li>我要借款</li>
                        </ul>
                        </div>
                        <div style="float: right">
                            <img src="../../assets/img/fuwuhao_erweima.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
			        版权所有&nbsp;-Copyright&copy;2014&nbsp;&nbsp;福建互助金服金融技术服务有限公司 版权所有&nbsp;&nbsp;闽IC备14010125号&nbsp;&nbsp;厦公网安备35020002612516号&nbsp;&nbsp;
                    <img src="../../assets/img/weixin_weibo.png" tppabs="" style="width:36px;">
		    </div>
	        <div>
		        <div class="footer-bottom">
			        <ul class="list-inline" style="padding-bottom:30px;">
				        <li><a href="#" tppabs="https://credit.szfw.org/CX20141031005816005500.html" target="blank">
                        <img src="../../assets/img/bottom-xin_1.png" tppabs="" title="互助金服荣获中国电子商务协会“诚信网站”认证书" alt="互助金服荣获中国电子商务协会“诚信网站”认证书" />
                        </a></li>
				        <li><img src="../../assets/img/bottom-police_1.png" tppabs="" title="互助金服已经完成在公安机关的信息备案，您可了解网站相关备案信息" alt="互助金服已经完成在公安机关的信息备案，您可了解网站相关备案信息" ></li>
				        <li><a href="#" tppabs="http://webscan.360.cn/index/checkwebsite/url/www.huzhujinfu.com">
                        <img src="../../assets/img/bottom-360_1.png" tppabs="http://www.huzhujinfu.com/static/img/public/bottom-360_1.png" title="互助金服已通过360安全检测，您可以放心使用" alt="互助金服已通过360安全检测，您可以放心使用" /></a></li>
				        <li><a href="#" tppabs="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1058399835" target="blank">
                        <img src="../../assets/img/bottom-zx_1.jpg.png" tppabs="http://www.huzhujinfu.com/static/img/public/bottom-zx_1.jpg" title="互助金服已经成为中国互联网信用评价中心网络诚信联盟成员" alt="互助金服已经成为中国互联网信用评价中心网络诚信联盟成员" /></a></li>
				        <li><a href="#" tppabs="http://si.trustutn.org/info?sn=889150915000262289578" target="blank">
                        <img src="../../assets/img/p2p_bottom_large_img_1.jpg.png" tppabs="http://www.huzhujinfu.com/static/img/public/p2p_bottom_large_img_1.jpg" title="互助金服已通过认证联盟权威数据库对比，获得“互联网金融行业认证”，您可放心使用" alt="互助金服已通过认证联盟权威数据库对比，获得“互联网金融行业认证”，您可放心使用" /></a></li>
			        </ul>
		        </div>
	        </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PageFooter',
        data: () => {
            return {}
         }
    }

</script>