<template>
  <div id="page-index">
    2222
  </div>
</template>

<script>
export default {
  name: 'accountManage',
  data () {
    return {
      msg: 'Welcome  to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" type='stylesheet/scss'>
  @import './style';
</style>
