<template>
  <div id="page-home">
    <!--banner start-->
    <div class="index-banner">


      <div class="index-banner-box">
        <div class="icon">
          <i class="glyphicon glyphicon-bullhorn"></i>
        </div>
        <ul class="msgs">
          <li>{{msgs}}</li>
        </ul>
        <a class="buttom"> 公司动态 <i class="glyphicon glyphicon-circle-arrow-right"></i> </a>
      </div>

      <div id="borrowCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#borrowCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#borrowCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">

          <div class="item active banner1">
            <a style="height:450px;display:block;" href="#/" target="blank">
              <img style='height: 100%;width:100%' src='../../assets/img/banner.jpg' />
            </a>
          </div>

          <div class="item">
            <a style="height:450px;display:block;" href="#/" target="blank">
              <img style='height: 100%;width:100%' src='../../assets/img/banner.jpg' />
            </a>
          </div>

        </div>
      </div>
    </div>
    <!--banner end-->

    <div class="index-feature-contain">
      <!--section1 start-->
      <div class="index-bg-white">
        <div class="index-feature-contain">

          <!--
						需要加链接在li标签里面嵌套<a></a>标签
						如第一个所示不要直接删掉即可
					-->
          <ul class="list-inline">
            <li>
              <div class="index-icon index-earnings"></div>
              <h4><span class="text-bolder">8%~12%</span>最高收益</h4>
              <p>投资灵活<br>理财收益稳健</p>
            </li>
            <li>
              <div class="index-icon index-shield"></div>
              <h4>甄选标的，真实可靠</h4>
              <p>强大技术支撑，数据信息安全<br>甄选优质标的，账户资金有保障<br></p>
            </li>
            <li>
              <div class="index-icon index-plane"></div>
              <h4>实名认证&nbsp;线下审核</h4>
              <p>精选项目<br>严格风险审核，全面风险管控</p>
            </li>
            <li>
              <div class="index-icon index-100y"></div>
              <h4>门槛低<span class="text-bolder">1</span>元起投</h4>
              <p>新人首投专享大礼包<br>24小时资金随存随提</p>
            </li>
          </ul>
        </div>
      </div>
      <!--section1 end-->
      <!--section2 satrt-->
      <div class="index-feature-middle">
        <img src="../../assets/img/index-feature-middle.png" width="100%">
      </div>
      <!--section2 end-->
      <!--section3 satrt-->

      <div class="index-feature-top">
        <a href="javascript:void(0)">
          <span class="invest-hzb-icon right-icon"></span>
          <span style="color: #d71345;">理财有风险&nbsp;投资需谨慎</span></a> &nbsp;累计交易总额
        <span style="color: #d71345;">{{number1}}元</span> &nbsp;累计回收本金
        <span style="color: #d71345;">{{number2}}元</span> &nbsp;累计已赚取
        <span style="color: #d71345;">{{number3}}元</span><a href="/about/aboutData">详细&gt;&gt;</a>
      </div>
      <!--section3 end-->

      <!--section4 start-->
      <ul class="list-inline1">
        <li style="background-color:#d71345;">
          <div class="index-icon1 index-icon1_1"></div>
          <h4 style="color:#ffffff;">新手引导</h4>
          <p>&nbsp;</p>
        </li>
        <li>
          <div class="index-icon1 index-icon1_2"></div>
          <h4>加入我们</h4>
          <p>免费注册互助金服</p>
        </li>
        <li>
          <div class="index-icon1 index-icon1_3"></div>
          <h4>实名认证</h4>
          <p>实名身份验证保障安全</p>
        </li>
        <li>
          <div class="index-icon1 index-icon1_4"></div>
          <h4>选择标的</h4>
          <p>不同期限标灵活可选</p>
        </li>
        <li>
          <div class="index-icon1 index-icon1_5"></div>
          <h4>坐享收益</h4>
          <p>本金收益按期自动返还</p>
        </li>
      </ul>
      <!--section4 end-->
    </div>
    <div style="background: #eee; margin-top:-120px; padding-top:120px;">
      <div class="index-feature-contain">
        <!--section5 start 各种贷-->
        <div class="split">
          <div class="title">理财推荐</div>
          <a class="more" href="#/">查看更多 》</a>
        </div>
        <div class="list-daikuang" style="background: #fff">

          <ul class="list-inline1">
            <li v-bind:class="{active:licaiTabshow === 'zcd'}" v-on:click="handleLicaiTab('zcd')">
              <div class="index-icon1 index-icon1_5"></div>
              <h4>助车贷</h4>
            </li>
            <li v-bind:class="{active:licaiTabshow === 'zjfq'}" v-on:click="handleLicaiTab('zjfq')">
              <div class="index-icon1 index-icon1_1"></div>
              <h4 style="color:#ffffff;">租金分期</h4>
            </li>
            <li v-bind:class="{active:licaiTabshow === 'xffq'}" v-on:click="handleLicaiTab('xffq')">
              <div class="index-icon1 index-icon1_1"></div>
              <h4 style="color:#ffffff;">消费分期</h4>
            </li>
            <li v-bind:class="{active:licaiTabshow === 'zqzr'}" v-on:click="handleLicaiTab('zqzr')">
              <div class="index-icon1 index-icon1_1"></div>
              <h4 style="color:#ffffff;">债券转让</h4>
            </li>
          </ul>
          <div class="content" id='licai'>
            <table>
              <tbody>
                <tr v-for="item in licaiList">
                  <td><span class="hn-Tip">{{item.name}}
                    <span class="hn-Tip-right"
                      v-if="item.status"
                      v-bind:class="{dark:item.status === '加息'}">{{item.status}}</span></span>
                  </td>
                  <td><span class="hn-Tip"> <span class="gray-text">预计年化收益</span> {{item.shouyi}}
                    <span class="hn-Tip-right" v-if="item.change" style="font-size: 14px">{{item.change}}</span></span>
                  </td>
                  <td><span class="gray-text">理财期限</span> {{item.time}}</td>
                  <td><span class="gray-text">总金额</span> {{item.totalMoney}}</td>
                  <td>
                    <StatisticBar v-bind:precent="item.precent" v-bind:precentState="item.precentState" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--section5 end 各种贷-->

        <div class="index-feature-middle" style="margin-top:50px;">
          <img src="../../assets/img/index_banner2.jpg" width="100%">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import StatisticBar from '../../components/statisticBar';
  const licaiData = {
    'zcd': [
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '+2%', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '加息', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 12, precentState: 1 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '+2%', time: '2个月', totalMoney: '1233,1212', precent: 85, precentState: 2 },
      { name: 'B12344567', status: '', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 3 },
      { name: 'B12344567', status: '', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 3 },
      { name: 'B12344567', status: '', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 3 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '+2%', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 2 },
      { name: 'B12344567', status: '', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 3 }
    ],
    'zjfq': [
      { name: 'B22222222', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '加息', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 }
    ],
    'xffq': [
      { name: '333333333', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '加息', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 }
    ],
    'zqzr': [
      { name: '444444444', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '加息', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 },
      { name: 'B12344567', status: '新标', shouyi: '10%', change: '', time: '2个月', totalMoney: '1233,1212', precent: 92, precentState: 1 }
    ]
  }
  export default {
    name: 'home',
    components: {
      StatisticBar
    },
    data() {
      return {
        msgs: '公司最新动态:11111',
        number1: '153,749,080',
        number2: '74,780,906',
        number3: '1,340,191',
        licaiList: licaiData['zcd'],
        licaiTabshow: 'zcd',
        handleLicaiTab: (type) => {
          this.licaiTabshow = type;
          this.licaiList = licaiData[type];
        }
      }
    }
  }

</script>

<style scoped lang="scss" type='stylesheet/scss'>
  @import '../../scss/config.scss'; @import './style';

</style>