#page-home {
    background: #fff;
}

.index-banner {
    position: relative;
    .index-banner-box {
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 1200px;
        height: 40px;
        left: 0;
        right: 0;
        z-index: 100;
        background: rgba(0, 0, 0, .8);
        color: #fff;
        font-size: 14px;
        .icon {
            position: absolute;
            left: 0;
            top: 0;
            line-height: 40px;
            padding: 0 12px;
            border-right: 1px solid rgba(0, 0, 0, .3);
        }
        .msgs {
            position: absolute;
            left: 45px;
            top: 0;
            line-height: 40px;
            height: 40px;
            overflow: hidden;
        }
        .buttom {
            position: absolute;
            display: block;
            cursor: pointer;
            right: 0;
            width: 140px;
            height: 40px;
            background: $hz-red;
            line-height: 40px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            &:hover {
                color: #fff;
                background: $hz-red-lighter;
            }
        }
    }
}

.carousel-indicators {
    bottom: 50px !important;
}

.index-bg-white {
    background-color: #FFFFFF;
}

.index-feature-contain {
    width: 1200px;
    margin: auto;
    padding: 40px 0px;
}

.index-feature-top {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.index-feature-top img {
    vertical-align: text-bottom;
}

.index-feature-contain .list-inline {
    margin: 0px -10px;
}

.index-feature-contain .list-inline li {
    width: 280px;
    height: 195px;
    margin: 0px 10px;
    padding: 20px 10px;
    text-align: center;
    display: inline-table;
    border: 0px solid #dbdbdb;
    border-radius: 4px;
}

.index-feature-contain .list-inline h4 {
    color: #d71345;
    font-size: 14px;
    margin: 15px 0px 10px 0px;
}

.index-feature-contain .list-inline p {
    color: #b5b5b5;
    line-height: 20px;
    min-height: 60px;
}

.index-feature-middle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.index-feature-contain .list-inline1 {
    margin: 0px -10px;
    border: 1px solid #e6e6e6;
}

.index-feature-contain .list-inline1 li {
    width: 244px;
    height: 186px;
    margin: 0;
    margin-right: -4px;
    padding: 20px 10px;
    text-align: center;
    display: inline-block;
    border: 0px solid #dbdbdb;
    background: #fff;
}

.index-feature-contain .list-inline1 h4 {
    color: #000000;
    font-size: 16px;
    margin: 15px 0px 10px 0px;
    font-weight: bold;
}

.index-feature-contain .list-inline1 p {
    color: #b5b5b5;
    line-height: 20px;
}

.index-icon {
    background-image: url(../../assets/img/main/index_icon.png);
    margin: auto;
}

.index-earnings {
    background-position: 0px 0px;
    width: 61px;
    height: 66px;
}

.index-shield {
    background-position: -61px 0px;
    width: 61px;
    height: 66px;
}

.index-plane {
    background-position: -122px 0px;
    width: 61px;
    height: 66px;
}

.index-100y {
    background-position: -183px 0px;
    width: 61px;
    height: 66px;
}

.index-why {
    background-position: -244px 0px;
    width: 61px;
    height: 66px;
}

.index-have {
    background-position: -11px -66px;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
}

.no-have .index-have {
    background-position: 0px -66px;
}

.index-icon1 {
    background-image: url(../../assets/img/main/index_icon_new.png);
    margin: auto;
}

.index-icon1_1 {
    background-position: 0px 0px;
    width: 41px;
    height: 66px;
}

.index-icon1_2 {
    background-position: -47px 0px;
    width: 65px;
    height: 66px;
}

.index-icon1_3 {
    background-position: -122px 0px;
    width: 61px;
    height: 66px;
}

.index-icon1_4 {
    background-position: -183px 0px;
    width: 61px;
    height: 66px;
}

.index-icon1_5 {
    background-position: -244px 0px;
    width: 61px;
    height: 66px;
}
.index-icon2 {
    background-image: url(../../assets/img/main/index_icon2.png);
    margin: auto;
}

// 各种贷款tab
.index-feature-contain {
    .split {
        position: relative;
        width: 100%;
        .title {
            width: 350px;
            margin: 20px auto auto auto;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                width: 100px;
                border: 1px solid $hz-dark;
                left: 0;
                top: 16px;
            }
            &:after {
                position: absolute;
                content: '';
                width: 100px;
                border: 1px solid $hz-dark;
                right: 0;
                top: 16px;
            }
        }
        a.more {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .list-daikuang {
        margin-top: 50px;
        border: 1px solid #ddd;
        position: relative;
        height: 746px;
        overflow: hidden;
        .list-inline1 {
            border: 0;
            width: 200px;
            margin: 0;
            li {
                width: 200px;
                position: relative;
                border-radius: 0;
                background-color: #d71345;
                &:after {
                    border-bottom: 1px solid rgba(255, 255, 255, .6);
                    position: absolute;
                    bottom: 0;
                    width: 160px;
                    left: 20px;
                    height: 1px;
                    content: '';
                }
                &:first-child {
                    border-top-left-radius: 4px;
                }
                &:last-child {
                    border-bottom-left-radius: 4px;
                    &:after {
                        bottom: -2px;
                    }
                }
                &.active {
                    background-color: #fff;
                }
            }
        }
        .content {
            position: absolute;
            top: 0;
            right: 0;
            width: 1000px;
            padding: 20px;
            tr {
                border-bottom: 1px solid #eee;
                td {
                    font-size: 14px;
                    width: 192px;
                    height: 100px;
                }
            }
        }
    }
}