<template>
    <div id="page-header">
        <div class="header">
            <div class="header-top">
                <div class="header-top-contain">
                    <div class="header-top-left">
                        <ul class="list-inline">
                            <li><a href="/login">[ 登陆 ]</a></li>
                            <li><a href="/anon/register">[ 注册 ]</a></li>
                        </ul>
                    </div>
                    <div class="header-top-right">
                        <ul class="list-inline">
                            <li><a href="/index">互助金服首页</a><span>|</span></li>
                            <li><a href="#" data-toggle="modal" data-target="#points_modal">积分商城</a><span>|</span></li>
                            <li><a href="/help/index">帮助中心</a><span>|</span></li>
                            <li><a href="#" data-toggle="modal" data-target="#points_modal">互助论坛</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="header-middle-contain">
                    <div class="header-middle-left">
                        <a href="/"><img class="margin-right-10" src="../../assets/img/public/logo.png" alt="互联网金融互助金服"></a>
                        <img src="../../assets/img/public/logo-text.png" alt="互联网贷款">
                    </div>
                    <div class="header-middle-right1">
                        <ul class="list-inline" style="margin-right: 2px; margin-left: 16px;">
                            <li class="deng-lu-li"><a href="http://www.huzhujinfu.com/about/aboutCompany">登录</a></li>
                            <li class=""><a style="color:#e9334c;" href="http://www.huzhujinfu.com/account/overview">注册</a></li>
                        </ul>
                    </div>
                    <div class="header-middle-right">
                        <ul class="list-inline" style="margin-right: -6px;">
                            <li class=""><a href="#/">首页</a></li>
                            <!--<li class="zu-top-li"><a href="/loan/zujia">租+</a><img class="zu-top-hot" src="../../assets/img/main/hot_little.png"></li>-->
                            <li class="" style="width: 120px"><a href="#/accountManage">个人管理中心</a></li>
                            <li class=""><a href="#/financial">我要理财</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PageHeader',
        data() {
            return {}
        }
    }

</script>
<style scoped>
    .header-middle-contain .header-middle-right1 {
        float: right;
        font-size: 16px;
        padding-top: 8px;
    }
    
    .header-middle-right1 ul {
        border-radius: 5px;
        border: 2px solid #e9334c;
    }
    
    .header-middle-right1 .deng-lu-li {
        background-color: #e9334c;
    }
    
    .header-middle-right1 li {
        width: 56px;
        text-align: center;
    }
    
    .header-middle-right1 .deng-lu-li a {
        color: #fff
    }
</style>