<template>
    <div class="statistic-bar" v-if="precentState===1">
        <div class="statistic-red" v-bind:style="{width:140*precent/100+'px'}">
            {{precent}}%
        </div>
        <span class='add-icon' v-bind:style="{color:(precent>85? '#fff':'#d71345')}">+</span>
    </div>
    <div class="statistic-bar" v-else-if="precentState===2">
        <div class="statistic-red" style="text-align: center;width:100%;">
            满标
        </div>
    </div>
    <div class="statistic-bar" v-else="precentState===3">
        <div class="statistic-grey">
            还款中
        </div>
    </div>
</template>

<script>
    export default {
        name: 'statisticBar',
        props: ['precent', 'precentState'],
        data() {
            let {precentState} = this;
            if (precentState === undefined) {
                this.precentState = 1;// 设置默认值
            }
            return {
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .statistic-bar {
        width: 140px;
        background: #ddd;
        height: 30px;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
    }
    
    .statistic-red {
        height: 30px;
        border-radius: 6px;
        background: #d71345;
        width: 0;
        line-height: 30px;
        font-size: 14px;
        padding-left: 10px;
        color: #fff;
    }
    .statistic-grey{
        height: 30px;
        border-radius: 6px;
        background: #ccc;
        width: 0;
        line-height: 30px;
        font-size: 14px;
        padding-left: 10px;
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .add-icon {
        font-size: 26px;
        position: absolute;
        line-height: 30px;
        right: 5px;
        z-index: 0;
        top: 0;
    }
</style>