/*
 * style.css Document
 * Author:     	  afuneral
 * Edited Time:   2015-07-11
 * Updated By:    afuneral
 * Updated Time:  2015-07-11
 * */
@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, a, blockquote, th, td {margin: 0;padding: 0;}
body, input, button, select, textarea, th, td,div {font-family: "Microsoft YaHei","tahoma","arial","sans-serif";font-size: 12px;line-height: 1.5;}
input{border:none;outline:none;}
img{ border:none;}
ul{ list-style-type:none}
button{border: none; -webkit-appearance: none;outline:none}
button:visited{border: none; -webkit-appearance: none;outline:none;}
a{ color:#636363; text-decoration:none;outline:none;}
a:hover{color:#d81446;text-decoration:none;}
a:focus{text-decoration:none;color: #636363;outline: none;}

body {
	margin:  0 auto;
	padding:  0;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	font-family: "microsoft yahei";
	min-width: 1000px;
	background-color: #f7f5f6;
	overflow-x: hidden;
	overflow-y: scroll;
}
/*公用样式*/
.left{float: left;}
.right{float: right;}
.ove{overflow: hidden;}

.margin-top-10{margin-top: 10px;}
.margin-top-20{margin-top: 20px;}

.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-20{margin-bottom: 20px;}

.margin-right-10{margin-right: 10px;}
.margin-right-20{margin-right: 20px;}

.margin-left-10{margin-left: 10px;}
.margin-left-20{margin-left: 20px;}

.bg-white{background-color: #FFFFFF;}

/*公用按钮样式*/
.btn-sm{width: 65px;height: 18px; text-align: center;display: block;line-height: 18px;border-radius: 4px;font-size: 14px;padding: 0px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}
.btn-small{width: 97px;height: 28px; text-align: center;display: block;line-height: 28px;border-radius: 4px;font-size: 16px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}
.btn-normal{width: 163px;height: 30px; text-align: center;display: block;line-height: 30px;border-radius: 4px;font-size: 16px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}
.btn-auto{width: 100%;text-align: center;display: block;line-height: 30px;border-radius: 4px;font-size: 16px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}

.btn-red{background-color: #d71345; color: #FFFFFF;}
.btn-red:hover{background-color: #c01140; color: #FFFFFF;}
.btn-red:focus{background-color: #c01140; color: #FFFFFF;}

.btn-gray{background-color: #b5b5b5; color: #FFFFFF;}
.btn-gray:hover{background-color: #a09f9f; color: #FFFFFF;}
.btn-gray:focus{background-color: #a09f9f; color: #FFFFFF;}

.btn-yellow{background-color: #e3db35; color: #FFFFFF;}
.btn-yellow:hover{background-color: #c9c22f; color: #FFFFFF;}
.btn-yellow:focus{background-color: #c9c22f; color: #FFFFFF;}

/*公用文本样式*/
.text-red{color: #d71345;}
.text-gray{color: #b5b5b5;}
.text-dgray{color: #696969;}
.text-white{color: #FFFFFF;}
.text-black{color: #333333;}

.text-size-12{font-size: 12px;}
.text-size-14{font-size: 14px !important;}
.text-size-16{font-size: 16px;}
.text-size-18{font-size: 18px;}
.text-size-20{font-size: 20px;}
.text-size-22{font-size: 22px;}
.text-size-24{font-size: 24px;}
.text-size-36{font-size: 36px;}

.text-bolder{font-weight: bolder;}
.text-lighter{font-weight: lighter;}

/*公用头部*/

.header .header-top{width: 100%; height: 30px; background-color: #d9d9d9; border-bottom: 1px solid #909090;}
.header-top .header-top-contain{width: 1200px; margin: auto; overflow: hidden; padding-top: 5px;}
.header-top-contain .header-top-left{float: left;}
.header-top-contain .header-top-right{float: right;}
.header-top-contain a{color: #909090;}
.header-top-right span{margin-left: 15px;}

.header .header-middle{width: 100%; height: 90px; background-color: #FFFFFF; }
.header-middle .header-middle-contain{width: 1200px; margin: auto; overflow: hidden; padding-top: 20px;}
.header-middle-contain .header-middle-left{float: left;line-height: 50px;}
.header-middle-contain .header-middle-right{float: right; font-size: 16px; padding-top: 10px;}
.header-middle-right li{width: 84px;text-align: center;}
.header-middle-right .active {border-bottom: 4px solid #d71345; padding-bottom: 12px;}
.header-middle-right .active a{color: #d71345;}

.header .header-bottom{width: 100%; height: 40px; background-color: #d71345;}
.header-bottom .header-bottom-contain{width: 1000px; margin: auto; overflow: hidden; padding-top: 2px; color: #FFFFFF; }
.header-bottom-contain .header-bottom-left{float: left;}
.header-bottom-contain .header-bottom-right{float: right;}
.header-bottom-left h3{font-size: 18px;padding-top: 10px; padding-left: 38px; }
.header-bottom-right p{font-size: 10px;}

/*公用底部*/
.footer{width: 100%; height: 180px; background-color: #d71345;margin-top: 35px;}

.footer-middle{padding: 10px 0 20px 0; height: 50px; line-height: 25px;  background-color: #d71345; text-align: center; color: #FFFFFF;}

.footer-top-div ul li{display: inline-block; font-size: 14px;margin:5px 5px;}
.footer-top-div img{height: 96px;}
.footer-top-div p{font-size: 14px;}
.footer-top-div .tel_span{font-size: 22px;color: #d71345; font-weight: bold;}

.footer-bottom{text-align: center;margin: 20px;}
/*公用表单*/
.hzd-form{margin: auto;}
.hzd-form label{font-size: 14px; font-weight: lighter;}
.hzd-form input, .hzd-form select{border-radius: 0px;}
.hzd-form span{line-height: 34px;}

/*section1*/
.index-bg-white{background-color: #FFFFFF;}
.index-feature-contain{width: 1200px;margin: auto;padding: 40px 0px;}
.index-feature-top{text-align: center;font-size: 16px;margin-bottom: 20px;}
.index-feature-top img{vertical-align: text-bottom;}
.index-feature-contain .list-inline{margin: 0px -10px;}
.index-feature-contain .list-inline li{width: 230px;height: 195px;margin: 0px 10px;padding: 20px 10px;text-align: center;display: inline-table;border: 0px solid #dbdbdb;border-radius: 4px;}
.index-feature-contain .list-inline h4{color: #d71345;font-size: 14px;margin: 15px 0px 10px 0px;}
.index-feature-contain .list-inline p{color: #b5b5b5;line-height: 20px;min-height: 60px;}
.index-feature-middle{text-align: center;font-size: 16px;margin-bottom: 20px;}


/*小图标*/
.invest-hzb-icon{background-image: url(./img/main/invest_icon.png);display: inline-block;}
.diya-icon{width: 18px;height: 20px;background-position: 0px -139px;margin: 0px 10px;vertical-align: text-top;}
.danbao-icon{width: 18px;height: 20px;background-position: -18px -139px;vertical-align: text-top;}
.zhi-icon{width: 18px;height: 20px;background-position: 0px -159px;vertical-align: text-top;}
.cu-icon{width: 16px;height: 16px;background-position: -36px -139px;margin-right: 5px;vertical-align: sub;}
.right-icon{width: 12px;height: 14px;background-position: -52px -139px;margin-right: 5px;vertical-align: sub;}

/* 右上小标*/
.hn-Tip{position: relative;}
.hn-Tip-right{
	background: #d71345;
	border-radius: 8px;
	padding: 2px 5px;
	color: #fff;
	position: absolute;
	left: 105%;
	top: -150%; 
	word-break:keep-all;           /* 不换行 */
	white-space:nowrap; 
}
.hn-Tip-right::before{
	width:0;height: 0;
	position: absolute;
	bottom: -8px;
	left: 8px;
	content:'';
    border-top: 8px solid #d71345;
    border-right: 8px solid transparent;
}
.hn-Tip-right.dark{
	background:#272647;
}
.hn-Tip-right.dark::before{
	border-top: 8px solid #272647;
}

.gray-text{color: #999;}

.contain-tab-block{margin-bottom: 40px;}
.contain-tab-block .nav-tabs{border-bottom: 1px solid #f7f5f5;}
.contain-tab-block .nav > li > a{padding: 10px 30px;}
.contain-tab-block .nav-tabs > li > a:hover{font-weight: bolder;color: #555555;}
.contain-tab-block .nav-tabs > li > a{background-color: #FFFFFF;border-radius: 0px;margin: 0px;border-bottom: 1px solid #f7f5f5;font-size: 16px;}
.contain-tab-block .nav-tabs > li.active > a{border: 1px solid #f7f5f5;border-bottom-color: transparent;border-radius: 0px;font-weight: bolder;}
.contain-tab-block .tab-content{background-color: #FFFFFF;padding: 20px 40px 40px;}
.contain-tab-block .tab-content li{width: 30%;border-right: 1px dashed #b5b5b5;margin-right: 28px;}
.contain-tab-block .tab-content li h4{font-size: 15px;font-weight: bolder;line-height: 30px;}
.contain-tab-block .tab-content li .col-md-6{font-size: 14px;color: #696969;line-height: 30px;}
.contain-tab-block .tab-content .row{min-height: 180px;}
.contain-tab-block .tab-content .br-none{border-right: none;}

.tab-red .nav-tabs > li.active > a{border-top: 2px solid #d71345;color: #d71345;}
.tab-red .tab-content li{width: auto;border: none;font-size: 14px;padding: 0px 10px;}
.tab-red input[type=radio]{display: none;}
.tab-red input:checked + p{padding: 0px 10px;color: #FFFFFF;background-color: #d71345;}
.tab-red li p{cursor: pointer;}
.choose-content .list-inline{margin-top: 20px;}

.invest-navbar .navbar-default{background-color: #FFFFFF;border: #FFFFFF;border-radius: 0px;}
.invest-navbar .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{color: #FFFFFF;background-color: #d71345;}
.invest-navbar .navbar-default .navbar-nav a{font-size: 14px;}