/*
 * style.css Document
 * Author:     	  afuneral
 * Edited Time:   2015-07-11
 * Updated By:    afuneral
 * Updated Time:  2015-07-11
 * */
@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, a, blockquote, th, td {margin: 0;padding: 0;}
body, input, button, select, textarea, th, td,div {font-family: "Microsoft YaHei","tahoma","arial","sans-serif";font-size: 12px;line-height: 1.5;}
input{border:none;outline:none;}
img{ border:none;}
ul{ list-style-type:none}
button{border: none; -webkit-appearance: none;outline:none}
button:visited{border: none; -webkit-appearance: none;outline:none;}
a{ color:#636363; text-decoration:none;outline:none;}
a:hover{color:#d81446;text-decoration:none;}
a:focus{text-decoration:none;color: #636363;outline: none;}

body {
	margin:  0 auto;
	padding:  0;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	font-family: "microsoft yahei";
	min-width: 1000px;
	background-color: #f7f5f6;
	overflow-x: hidden;
	overflow-y: scroll;
}
/*公用样式*/
.left{float: left;}
.right{float: right;}
.ove{overflow: hidden;}

.margin-top-10{margin-top: 10px;}
.margin-top-20{margin-top: 20px;}

.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-20{margin-bottom: 20px;}

.margin-right-10{margin-right: 10px;}
.margin-right-20{margin-right: 20px;}

.margin-left-10{margin-left: 10px;}
.margin-left-20{margin-left: 20px;}

.bg-white{background-color: #FFFFFF;}

/*公用按钮样式*/
.btn-sm{width: 65px;height: 18px; text-align: center;display: block;line-height: 18px;border-radius: 4px;font-size: 14px;padding: 0px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}
.btn-small{width: 97px;height: 28px; text-align: center;display: block;line-height: 28px;border-radius: 4px;font-size: 16px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}
.btn-normal{width: 163px;height: 30px; text-align: center;display: block;line-height: 30px;border-radius: 4px;font-size: 16px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}
.btn-auto{width: 100%;text-align: center;display: block;line-height: 30px;border-radius: 4px;font-size: 16px;
	-webkit-border-radius: 4px; -maz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;}

.btn-red{background-color: #d71345; color: #FFFFFF;}
.btn-red:hover{background-color: #c01140; color: #FFFFFF;}
.btn-red:focus{background-color: #c01140; color: #FFFFFF;}

.btn-gray{background-color: #b5b5b5; color: #FFFFFF;}
.btn-gray:hover{background-color: #a09f9f; color: #FFFFFF;}
.btn-gray:focus{background-color: #a09f9f; color: #FFFFFF;}

.btn-yellow{background-color: #e3db35; color: #FFFFFF;}
.btn-yellow:hover{background-color: #c9c22f; color: #FFFFFF;}
.btn-yellow:focus{background-color: #c9c22f; color: #FFFFFF;}

/*公用文本样式*/
.text-red{color: #d71345;}
.text-gray{color: #b5b5b5;}
.text-dgray{color: #696969;}
.text-white{color: #FFFFFF;}
.text-black{color: #333333;}

.text-size-12{font-size: 12px;}
.text-size-14{font-size: 14px !important;}
.text-size-16{font-size: 16px;}
.text-size-18{font-size: 18px;}
.text-size-20{font-size: 20px;}
.text-size-22{font-size: 22px;}
.text-size-24{font-size: 24px;}
.text-size-36{font-size: 36px;}

.text-bolder{font-weight: bolder;}
.text-lighter{font-weight: lighter;}

/*公用头部*/
.header{margin-bottom: 35px;}

.header .header-top{width: 100%; height: 30px; background-color: #d9d9d9; border-bottom: 1px solid #909090;}
.header-top .header-top-contain{width: 1000px; margin: auto; overflow: hidden; padding-top: 5px;}
.header-top-contain .header-top-left{float: left;}
.header-top-contain .header-top-right{float: right;}
.header-top-contain a{color: #909090;}
.header-top-right span{margin-left: 15px;}

.header .header-middle{width: 100%; height: 90px; background-color: #FFFFFF; }
.header-middle .header-middle-contain{width: 1000px; margin: auto; overflow: hidden; padding-top: 20px;}
.header-middle-contain .header-middle-left{float: left;line-height: 50px;}
.header-middle-contain .header-middle-right{float: right; font-size: 16px; padding-top: 10px;}
.header-middle-right li{width: 84px;text-align: center;}
.header-middle-right .active {border-bottom: 4px solid #d71345; padding-bottom: 12px;}
.header-middle-right .active a{color: #d71345;}

.header .header-bottom{width: 100%; height: 40px; background-color: #d71345;}
.header-bottom .header-bottom-contain{width: 1000px; margin: auto; overflow: hidden; padding-top: 2px; color: #FFFFFF; }
.header-bottom-contain .header-bottom-left{float: left;}
.header-bottom-contain .header-bottom-right{float: right;}
.header-bottom-left h3{font-size: 18px;padding-top: 10px; padding-left: 38px; }
.header-bottom-right p{font-size: 10px;}

/*公用底部*/
.footer{width: 100%; height: 180px; background-color: #d71345;margin-top: 35px;}
.footer .footer-contain{width: 858px; margin: auto; color: #FFFFFF;text-align: center; padding-top: 25px;}

.footer-contain .footer-top{overflow: hidden;}
.footer-top .footer-top-left{width: 50%; float: left; }
.footer-top-left a{color: #FFFFFF;line-height: 37px;}
.footer-top-left span{color: #FFFFFF;margin-left: 12px;}
.footer-top .footer-top-right{width: 50%; float: left;}
.footer-top-right span{font-size: 20px;color: #FFFFFF;}

.footer-contain .footer-middle{padding: 10px 0 20px 0;}
#_pingansec_bottomimagelarge_p2p iframe{vertical-align: middle;}
/*公用表单*/
.hzd-form{margin: auto;}
.hzd-form label{font-size: 14px; font-weight: lighter;}
.hzd-form input, .hzd-form select{border-radius: 0px;}
.hzd-form span{line-height: 34px;}

/*登陆*/
.reg-icon{width: 20px;height: 23px;background-image: url('./assets/img/main/reg_icon.png');vertical-align: middle;display: inline-block;}
.reg-user{background-position: 0px 0px;}
.reg-lock{background-position: -20px 0px;}
.reg-phone{background-position: -40px 0px;}
.reg-refresh{background-position: -60px 0px;}
.reg-id{background-position: -80px 0px;}

input:focus + .reg-user{background-position: 0px 23px;}
input:focus + .reg-lock{background-position: -20px 23px;}
input:focus + .reg-phone{background-position: -40px 23px;}
input:focus + .reg-id{background-position: -80px 23px;}

.login-box{overflow: hidden;}
.login-box-img{float: left;}
.login-box-img img{width: 590px;height: 420px;}

.login-box-form{width: 410px;height: 420px;padding: 30px 20px;float: left;background-color: #FFFFFF;}
.login-box-form h4{font-weight: bolder;}
.login-box-form .login-form{margin: 30px 0px;}
.login-box-form .login-form label{width: 100%;height: 48px;border: 1px solid #d3d3d3;display: block;margin-bottom: 20px;}
.login-box-form .login-form input{width: 315px;height: 32px;margin: 8px;font-size: 14px;}
.login-box-form .btn-auto{height: 40px;margin-bottom: 80px;}
.login-box-form .login-others{overflow: hidden;}

/*注册*/
.register-icon{width: 215px;height: 56px;background-image: url('./assets/img/main/register_nav.png');float: left;color: #fff;line-height: 56px;padding-left: 80px;font-size: 14px;}
.reg-step-1{background-position: 0px 0px;}
.reg-step-2{background-position: -215px 0px;margin-left: -14px;}
.reg-step-3{background-position: -430px 0px;margin-left: -15px;}
.reg-step-1-pass{background-position: 0px 56px;}
.reg-step-2-pass{background-position: 0px 56px;margin-left: -14px;}
.reg-step-3-pass{background-position: -430px 56px;margin-left: -15px;}
.reg-step-2-r{background-position: -215px 56px;margin-left: -14px;}

.register-box{width: 645px;margin: 30px auto;padding: 0px 14px;}
.register-navbar{overflow: hidden;margin: 40px 0px;}
.register-form{padding-bottom: 50px;}
.register-form .checkbox,.register-form .btn-normal{margin-bottom: 30px;margin-left: 160px;}
.register-form-group{overflow: hidden;margin-bottom: 20px;}
.register-lable{width: 150px;height: 38px;line-height: 38px;text-align: right;margin-right: 10px;float: left;}
.register-input{border: 1px solid #d3d3d3;float: left;padding: 0px 10px;}
.register-input input{width: 262px;line-height: 38px;}
.register-input-small{border: 1px solid #d3d3d3;float: left;padding: 0px 10px;}
.register-input-small-input{line-height: 38px;width: 180px;padding-left: 10px;padding-right: 10px;}

.register-verifica{float: left;margin-left: 10px;overflow: hidden;}
.register-verifica .verifica-code{width: 100px;height: 38px;border: 1px solid #d3d3d3;float: left;}
.register-verifica .verifica-code img{width: 100px;height: 36px;}
.register-verifica .reg-refresh{float: left;margin: 8px 10px;cursor: pointer;}
.register-verifica .reg-refresh:hover{background-position: -60px 23px;}
.register-verifica .get-link{line-height: 38px;cursor: pointer;color: #CCCCCC;font-size: 14px;}
.register-remind{font-size: 14px;margin: 20px 0px 20px 105px;}
.register-phone-remind{margin: -35px 0px 0px 10px;}

.register-success{text-align: center;margin-bottom: 30px;}
.register-success h4{font-weight: bolder;margin-bottom: 20px;}
.register-success p{color: #CCCCCC;}
.no-check{margin-left: 160px;color: #CCCCCC;font-size: 14px;}

/*个人管理中心*/
.user_nav_icon{width: 26px; height: 26px; background-image: url('./assets/img/user/user_nav_icon.png');display: inline-block;vertical-align: middle;margin-top: -5px; margin-right: 15px;}
.nav_icon1{background-position: 0px 0px;}
.active .nav_icon1{background-position: 0px -26px;}
.nav_icon2{background-position: -26px 0px;}
.active .nav_icon2{background-position: -26px -26px;}
.nav_icon3{background-position: -52px 0px;}
.active .nav_icon3{background-position: -52px -26px;}
.nav_icon4{background-position: -78px 0px;}
.active .nav_icon4{background-position: -78px -26px;}
.nav_icon5{background-position: -104px 0px;}
.active .nav_icon5{background-position: -104px -26px;}
.nav_icon6{background-position: -130px 0px;}
.active .nav_icon6{background-position: -130px -26px;}
.nav_icon7{background-position: -156px 0px;}
.active .nav_icon7{background-position: -156px -26px;}
.nav_icon8{background-position: -182px 0px;}
.active .nav_icon8{background-position: -182px -26px;}

.user-contain{width: 1000px; margin: auto; overflow: hidden;}
.user-contain .user-navbar{width: 200px; margin-right: 20px; float: left;}
.user-contain .user-main{width:780px; float: right; margin-bottom: 20px;}

/*用户导航*/
.user-navbar .user-navbar-top{background-color: #FFFFFF; margin-bottom: 20px;font-size: 16px; }
.user-navbar .user-navbar-bottom{background-color: #FFFFFF; margin-bottom: 20px; font-size: 16px; color: #6a6a6a;text-align: center;padding: 20px;}
.user-navbar-top li{width: 100%; text-align: center; border-top: 1px solid #f6f6f6;}
.user-navbar-top li a{display: block; color: #b5b5b5; padding: 15px 0;}
.user-navbar-top li a:hover{color: #d71345;}
.user-navbar-top .dropdown-nav{display: none;}
.user-navbar-top .dropdown-nav li{padding-left: 86px; text-align: left;}
.user-navbar-top .active{border-top: 3px solid #d71345;}
.user-navbar-top .active .dropdown-nav{display: block;}
.user-navbar-top .active .one{color: #d71345;}
.user-navbar-top .active .have_drop{color: #b5b5b5;}
.user-navbar-top .active .hover a{color: #d71345;}

.user-navbar-top .have_drop:hover ul{display: block;}

/*用户底部信息*/
.user-navbar-bottom .bottom-line li{border-bottom: 1px dashed #6a6a6a; font-size: 16px;position: relative; padding: 0 8px 8px 8px; margin-bottom: 5px;}
.user-navbar-bottom .btn-normal{margin: 10px auto 0 auto;}
.user-navbar-bottom .btn-normal:focus{color: #FFFFFF;}
.user-navbar-bottom .doc{width: 10px; height: 10px; display: block; background-color: #696969; border-radius: 10px;position: absolute;bottom: -5px;left: 0; right: 0; margin: auto;}
.bottom-line .active a{color: #d71247;}
.bottom-line .active .doc{background-color: #d71247;}

/*意见反馈和在线客服*/
.opinion_kefu{position: fixed; top: 250px; right: 0px;z-index: 999;}
.opinion_kefu ul{border-top: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;}
.opinion_kefu li{padding: 10px; border-bottom: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; background-color: #FFFFFF; text-align: center;}
.opinion_kefu li a{color: #d71345;}
.opinion_kefu li a img{margin-bottom: 5px;}

/*奖牌*/
.user-model{width: 14px; height: 20px; background-image: url('./assets/img/user/medal.png'); display: inline-block;}
/*绿色钩*/
.right_small{width: 12px; height: 12px; background-image: url('./assets/img/user/right_small.png');display: block;}

/*账户认证普通图标*/
.user-attestation .attestation-normal-img{width: 43px; height: 40px; background-image: url('./assets/img/user/attestation_normal.png'); display: inline-block;}
.id{background-position: 0px 0px;}
.checked .attestation-id{background-position: 0px 40px;}
.attestation-phone{background-position: -43px 0px;}
.checked .attestation-phone{background-position: -43px 40px;}
.attestation-email{background-position: -86px 0px;}
.checked .attestation-email{background-position: -86px 40px;}
.attestation-visa{background-position: -129px 0px;}
.checked .attestation-visa{background-position: -129px 40px;}

/*账户认证小图标*/
.user-attestation .attestation-small-img{width: 22px; height: 22px; background-image: url('./assets/img/user/attestation_small.png'); display: inline-block;}
.small-id{background-position: 0px 0px;}
.checked .small-id{background-position: 0px 22px;}
.small-phone{background-position: -22px 0px;}
.checked .small-phone{background-position: -22px 22px;}
.small-email{background-position: -44px 0px;}
.checked .small-email{background-position: -44px 22px;}
.small-visa{background-position: -66px 0px;}
.checked .small-visa{background-position: -66px 22px;}

/*新手任务积分图标*/
.novice-task .points-img{width: 108px; height: 100px; background-image: url('./assets/img/user/points.png'); display: block;}
.point-20{background-position: 0px 0px;}
.checked .point-20{background-position: 0px 100px;}
.point-30{background-position: -108px 0px;}
.checked .point-30{background-position: -108px 100px;}
.point-50{background-position: -216px 0px;}
.checked .point-50{background-position: -216px 100px;}
.point-100{background-position: -324px 0px;}
.checked .point-100{background-position: -324px 100px;}
.point-1000{background-position: -432px 0px;}
.checked .point-1000{background-position: -432px 100px;}

/*模块内容*/

/*带标题的模块*/
.contain-title-block{width: 100%;padding: 0px 20px;background-color: #FFFFFF;margin-bottom: 40px;position: relative;}
.contain-title-block .contain-title{height: 52px;border-bottom: 1px solid #dbdbdb; overflow: hidden;}
.contain-table-nobord .table > thead > tr > th{border: none;}

/*纯文字模块*/
.contain-reminder{padding: 10px 0px 20px 0px;font-size: 14px;line-height: 30px;}

/*用户模块内容*/
.user-main .user-block{margin-bottom: 20px; background-color: #FFFFFF; }
.user-block .user-block-title{width: 760px; height: 52px; margin: 0 10px 10px 10px; border-bottom: 1px solid #dbdbdb; overflow: hidden;}
.user-block .user-block-contain{padding: 0px 10px;}
.user-block .user-table-block{padding-bottom: 20px;}

	/*带标题的盒子*/
.user-block-title .title-right,
.contain-title .title-right{float: right;overflow: hidden; line-height: 62px;}
.user-block-title h3,
.contain-title-block .contain-title h3{float: left; font-size: 18px; line-height: 62px; font-weight: bolder;}
.user-block-title p{font-size: 18px; color: #696969; float: left;}
.title-right .btn-small{float: left;margin-left: 10px; margin-top: 17px;}

	/*带表格的盒子*/
.user-table-block .table > thead > tr > th{color: #b5b5b5; font-size: 14px; text-align: center;}
.user-table-block .table > tbody > tr > th{font-size: 12px; text-align: center;padding: 12px;border: none; font-weight: normal;}
.user-table-block .table > tbody > tr > th a{color: #d71345;}
.user-table-block nav{text-align: center;}
.user-table-block .pagination > .active > a {background-color: #d71345;border: 1px solid #d71345;}
.user-table-block .progress{height: 8px; margin-bottom: 0px;}
.user-table-block .progress-bar-danger{height: 8px; background-color: #d71345; border-radius: 4px;}

	/*盒子中不带边框的表格*/
.user-block-contain .user-table-nobord {padding: 20px 0px;}
.user-block-contain .user-table-nobord .table > tbody > tr > th{border: none; text-align: center; font-size: 14px;}

	/*广告盒子*/
.user-advertise img{width: 100%; margin-bottom: 20px;}


/*个人管理中心-账户总览*/
.user-account{overflow: hidden;padding: 20px 0px;}
.user-account .user-account-left{float: left; overflow: hidden;}
.user-account .user-account-right{float: left;width: 360px;}
	/*用户信息*/
.user-account-left .user-img{width: 140px; float: left; text-align: center;margin-left: 15px;}
.user-account-left .user-img .head-img img{width: 140px; height: 140px;}
.user-account-left .user-info{float: left; margin-left: 18px;}
.user-account-right .user-account ul{overflow: hidden;}
.user-account-right .user-account li{width: 50%;float: left;text-align: center;font-size: 14px; color: #696969;padding-bottom: 20px;}
.user-account-right .user-account li span{display: block; padding-top: 10px; font-weight: bolder; color: #d71345;}
	
.user-img a{display:block; margin-top: 10px;}
.user-info .user-level{margin-top: 10px;}
.user-info .user-operate{overflow: hidden; margin-top: 20px;}
.user-info .user-attestation{margin-top: 15px;}
.user-operate .btn-sm{float: left;margin-right: 10px;}
.user-attestation .list-inline > li{padding-right: 0px;}
	/*新手任务*/
.user-block-contain .novice-task{padding: 20px 0px;}
.novice-task li{width: 148px; text-align: center; font-weight: bolder;}
.novice-task li span{margin: 0px auto 10px auto;}
.novice-task li a:hover .point-20{background-position: 0px 100px;}
.novice-task li a:hover .point-30{background-position: -108px 100px;}
.novice-task li a:hover .point-50{background-position: -216px 100px;}
.novice-task li a:hover .point-100{background-position: -324px 100px;}
.novice-task li a:hover .point-1000{background-position: -432px 100px;}
.novice-task .checked a{color: #d71345;}
	/*为您推荐*/
.user-block-contain .user-recommend{padding: 20px 0px 30px 0px; color: #d71345;}
.user-recommend p{color: #b5b5b5; font-size: 14px;}
.user-recommend .border-right{border-right: 1px dashed #b5b5b5;}
.user-recommend .list-inline li{width: 250px; text-align: center;}
.user-recommend .recommend-contain{width: 150px; height: 150px; position: relative; border-radius: 50%; border: 1px dashed #b5b5b5; margin: 10px auto;
	-webkit-border-radius: 50%; -maz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;}
.recommend-contain h1{font-size: 60px; margin-top: 35px;}
.recommend-contain .recommend-contain-float{width: 50px; height: 50px; border-radius: 50%; border: 1px dashed #b5b5b5; position: absolute; top: 0px; right: 0px; background-color: #FFFFFF;
	-webkit-border-radius: 50%; -maz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;}
.recommend-contain-float .recommend-tag{width: 19px; height: 19px; background-color: #d71345; color: #FFFFFF; display: block; margin: 7px auto 0 auto;}
.recommend-bottom{line-height: 30px;}
.recommend-bottom .btn-normal{margin: 10px auto 0 auto;}
.user-recommend a:hover .recommend-contain {border: 1px dashed #d81446;}

/*个人管理中心-债券转让*/
.debt-transfer-form{width: 100%; margin: auto; background-color: #d71345;padding: 20px 0px 10px 0px;}
.debt-transfer-form label{font-size: 14px; text-align: right; color: #FFFFFF; line-height: 34px; margin-bottom: 10px;}
.debt-transfer-form input{border: none; border-radius: 0px;}

.debt-transfer-info{width: 490px; margin: 25px auto 0px auto; overflow: hidden; }
.debt-transfer-info .transfer-info-left{width: 40%; float: left;}
.debt-transfer-info .transfer-info-right{width: 60%; float: left; color: #d71345;}
.transfer-info-left .btn-normal{margin-top: 10px;}

/*个人管理中心-账户管理-个人信息*/
.info-form{padding: 20px 0px 50px 0px;}
.info-form .user-img{text-align: center;}
.info-form .user-img img{width: 140px; height: 140px; margin: auto;}
.info-form label{font-size: 14px; font-weight: lighter;padding-top: 0px;}
.info-form input, .info-form select{border-radius: 0px;}
.info-form span, .info-form a{line-height: 34px;}
.info-form .btn-normal{margin: 30px 0px 0px 130px;}

/*个人管理中心-账户管理-安全认证*/
.safe-main {position: relative;padding: 70px 0px 100px 0px;}
.safe-main .safe-main-bg{width: 239px; height: 275px; background-image: url(./assets/img/user/check_bg.png); margin: auto;}
.safe-main .safe-main-top{overflow: hidden;position:absolute;top: 36px; left: 352px;}
.safe-main .safe-main-left-top{overflow: hidden;position:absolute;top: 115px; left: 90px;}
.safe-main .safe-main-left-bottom{overflow: hidden;position:absolute;top: 245px; left: 80px;}
.safe-main .safe-main-right-top{overflow: hidden;position:absolute;top: 115px; left: 470px;}
.safe-main .safe-main-right-bottom{overflow: hidden;position:absolute;top: 245px; left: 470px;}
.safe-main .safe-main-bottom{overflow: hidden;position:absolute;top: 323px; left: 355px;}

.safe-main .left{margin-top: 10px;text-align: right;}
.safe-main .right{margin-top: 10px;}
.safe-main .check-img{width: 53px;height: 53px;background-image: url(./assets/img/user/check.png);display: inline-block;}
.safe-main .check-id{background-position: 0px 0px;}
.safe-main .check-phone{background-position: -53px 0px;}
.safe-main .check-mail{background-position: -106px 0px;}
.safe-main .check-question{background-position: -159px 0px;}
.safe-main .check-key{background-position: -212px 0px;}
.safe-main .check-lock{background-position: -265px 0px;}
.safe-main .checked .check-id{background-position: 0px 53px;}
.safe-main .checked .check-phone{background-position: -53px 53px;}
.safe-main .checked .check-mail{background-position: -106px 53px;}
.safe-main .checked .check-question{background-position: -159px 53px;}
.safe-main .checked .check-key{background-position: -212px 53px;}
.safe-main .checked .check-lock{background-position: -265px 53px;}
.safe-main .checked .text-bolder{color: #d71345;}


.user-block-contain .safe-reminder{padding: 30px 20px;}
.safe-reminder h4{ margin-bottom: 10px;}
.safe-reminder li{line-height: 30px;margin-left: 20px;}

.user-block-contain .user-table-nobord .text-left > tbody > tr > th{text-align: left; font-weight: lighter;}
.user-table-nobord .text-left .right_small{display: inline-block;margin-left: 10px;}

/*个人管理中心-我的红包*/
.interest-main .interest-banner img{width: 700px; height: 170px; margin: auto;}
.coupon-form {padding: 40px 0px 5px 0px; text-align: center; border-bottom: 2px solid #DBDBDB;overflow: hidden;}
.coupon-form input{width:300px; border: 1px solid #d71345; border-radius: 0px;margin: 20px auto;}
.coupon-form input:focus{border: 1px solid #d71345; box-shadow: none;}
.coupon-form .btn-normal{margin: auto;margin-bottom: 25px;}

.experience-main .experience-left{margin: 30px 0px 20px 20px;border-right: 1px solid #DBDBDB;}
.experience-left h2{margin-top: 5px;font-weight: bolder;}

.myfriends-main {font-size: 14px;padding: 30px 40px;}
.myfriends-main .myfriends-link{overflow: hidden;}
.myfriends-main .myfriends-link .btn-sm{float: left;margin-left: 20px;}
.myfriends-main .myfriends-weixin{overflow: hidden;margin-top: 20px;}
.weixin-img img{width: 256px;height: 162px;float: left;}
.qr-img img{width: 162px;height: 162px;float: left;}

/*个人管理中心-资金管理*/
.fund_list_contain{background-color: #D71245;margin-top: -11px;overflow: hidden;padding: 20px 0px 40px 0px;}
.fund_list_contain .list-inline{float: right;color: #FFFFFF;}
.fund_list_contain .list-inline a{color: #FFFFFF;margin-right: 5px;}
.fund_list_contain .fund-asset{color: #FFFFFF;margin: 30px 0px 0px 30px;}
.fund_list_contain .fund-asset h1{font-size: 50px; margin-top: 10px;font-weight: bolder;letter-spacing: 3px;}

.fund-list-form{overflow: hidden;width: 700px;margin: auto;padding: 30px 0px;}
.fund-list-form .form-control{width: 120px; border-radius: 0px;margin-right: 20px;}
.fund-list-form .form-control:focus{box-shadow: none;border: 1px solid #D71245;}
.fund-list-form .btn-small{float: right;margin-top: 2px;}

.fund-recharge-form{padding: 50px 0px;}
.fund-recharge-form .form-group{width:320px;font-size: 18px; color: #D71245;margin: auto;display: block;}
.fund-recharge-form .form-group .form-control{border-radius: 0px;border: 1px solid #D71245;margin-right: 10px;}
.fund-recharge-form .form-group .form-control:focus{box-shadow: none;}
.fund-recharge-form .form-group .text-size-14{margin-left: 95px;}
.fund-recharge-form .btn-normal{margin: 30px auto 0px auto;}

.recharge-bank{margin-top: 30px;}
.recharge-bank-list{width: 700px;margin: auto;}
.recharge-bank-list li{position: relative;padding: 5px 10px;}
.recharge-bank-list .add-bank{background-color: #DBDBDB;}
.recharge-bank-list .add-bank .white-bg{width: 40px;height: 40px;border-radius: 50%;background-color: #FFFFFF;font-size: 36px;}
.recharge-bank-list input,.recharge-bank-list a{width: 152px;height: 57px;line-height: 57px;}
.recharge-bank-list input{opacity: 0;z-index: 1000;cursor: pointer;position: absolute;}

	/*银行图标*/
.banks-img{width: 152px;height: 57px;background-image: url(./assets/img/user/banks.png);display: inline-block;}
.banks-gs{background-position: 0px 0px;}
.banks-zs{background-position: -152px 0px;}
.banks-js{background-position: -304px 0px;}
.banks-ny{background-position: -456px 0px;}
.banks-zh{background-position: -608px 0px;}
.banks-xy{background-position: -760px 0px;}
.banks-gd{background-position: -912px 0px;}
.banks-jt{background-position: -1064px 0px;}
.banks-ms{background-position: -1216px 0px;}
.banks-gf{background-position: -1368px 0px;}
.banks-hx{background-position: -1520px 0px;}
.banks-pa{background-position: -1672px 0px;}
.banks-yz{background-position: -1824px 0px;}
.banks-zx{background-position: -1976px 0px;}
.banks-xmgj{background-position: -2128px 0px;}
.banks-xm{background-position: -2280px 0px;}
.banks-add{background-position: -2432px 0px;}

.recharge-bank-list input:checked + .banks-gs{background-position: 0px 57px;}
.recharge-bank-list input:checked + .banks-zs{background-position: -152px 57px;}
.recharge-bank-list input:checked + .banks-js{background-position: -304px 57px;}
.recharge-bank-list input:checked + .banks-ny{background-position: -456px 57px;}
.recharge-bank-list input:checked + .banks-zh{background-position: -608px 57px;}
.recharge-bank-list input:checked + .banks-xy{background-position: -760px 57px;}
.recharge-bank-list input:checked + .banks-gd{background-position: -912px 57px;}
.recharge-bank-list input:checked + .banks-jt{background-position: -1064px 57px;}
.recharge-bank-list input:checked + .banks-ms{background-position: -1216px 57px;}
.recharge-bank-list input:checked + .banks-gf{background-position: -1368px 57px;}
.recharge-bank-list input:checked + .banks-hx{background-position: -1520px 57px;}
.recharge-bank-list input:checked + .banks-pa{background-position: -1672px 57px;}
.recharge-bank-list input:checked + .banks-yz{background-position: -1824px 57px;}
.recharge-bank-list input:checked + .banks-zx{background-position: -1976px 57px;}
.recharge-bank-list input:checked + .banks-xmgj{background-position: -2128px 57px;}
.recharge-bank-list input:checked + .banks-xm{background-position: -2280px 57px;}

.recharge-bank-info{text-align: center;vertical-align: middle;padding: 20px 20px 1px 20px;}

.withdraw-form .recharge-bank{margin-top: 0px;}
.withdraw-form .recharge-bank-list{width: 525px;margin-left: -10px;}
.withdraw-form .btn-normal{margin: 30px 0px 0px 218px;}

/*个人管理中心-加盟管理*/
.join-invite-contain{width: 95%;margin: auto;padding-bottom: 30px;}
.join-invite-contain .invite-banner{margin-bottom: 20px;}
.join-invite-contain .invite-banner p{margin: 5px 0px;font-size: 14px;}
.join-invite-contain .invite-banner img{width: 100%;}
.join-invite-contain .invite-table{margin-bottom: 40px;}
.join-invite-contain .invite-table th{text-align: right;padding-right: 55px;font-size: 14px;}
.join-invite-contain .invite-table .text-red{margin-left: 20px;}
.join-invite-contain .border-bottom{border-bottom: 1px solid #dddddd;}

.join-invite-contain .invite-bottom{width: 475px;margin: auto;overflow: hidden;}
.invite-bottom .qr-code img{width: 135px;height: 135px;margin-bottom: 5px;}

.invite-bottom .invite-code-left{width: 135px;float: left;margin-right: 40px;}
.invite-bottom .invite-code-right{width:300px;float: left;line-height: 25px;}
.invite-code-right .btn-normal{width: 90%;font-size: 14px;margin-top: 25px;}

.join-myfriends-info .user-operate{overflow: hidden;margin: 10px 0px;}
.join-myfriends-info .user-operate .btn-small{float: left;margin-right: 20px;}
.join-myfriends-info .user-account-right{width: auto;margin-left: 50px;}
.join-myfriends-info .invite-list li{padding-right: 10px;}

/*个人管理中心-信息中心*/
.message-top{overflow: hidden;border-bottom: 1px solid #dddddd;padding-bottom: 10px;}
.message-table-bottom{overflow: hidden;padding: 10px 0px 1px 0px;border-top:  1px solid #dddddd;}
.message-top .message-top-left,
.message-table-bottom .message-table-left{float: left;overflow: hidden;}
.message-top .message-top-right,
.message-table-bottom .message-table-right{float: right;}

.message-top-left .btn-small,
.message-table-left .btn-small{float: left;margin-right: 10px;font-size: 14px;}

.message-table .table th{color: #979797;}
.message-table .table > tbody > tr > th{vertical-align: middle;cursor: pointer;}
.message-table .table thead input{margin-right: 10px;margin-left: -6px;}
.message-table .mail-icon{width: 17px;height: 12px;background-image: url(./assets/img/user/message.png);display: inline-block;}
.message-table .unreaded .mail-icon{background-position: -17px 0px;}
.message-table input{margin-top: 1px;}
.message-table .unreaded th{color: #000000;}

/*个人管理中心-投资积分*/
.user-integral{overflow: hidden;padding: 20px 0px 20px 0px;}
.user-integral-left{width: 40%;float: left;border-right: 1px dashed #b7b7b7;font-size: 14px;margin-left: 10px;}
.user-integral-right{width: 58%;height: 192px;float: left;font-size: 14px;text-align: right;position: relative;padding-top: 20px;}

.user-integral-left .user-img{float: left;margin: 0px 10px 10px 0px;}
.user-integral-left .user-info{float: left;}
.user-integral-right .integral-info{font-size: 16px;text-align: center;}
.user-integral-right .integral-info span{display: block;color: #cb0131;font-weight: bolder;font-size: 18px;}
.user-integral-right .integral-info .list-inline > li{padding-left: 30px;}
.user-integral-right .btn-normal{position: absolute;right: 0;bottom: 0;}

.user-tab{padding: 10px 10px;}
.user-tab .nav-tabs{border-bottom: none;font-size: 16px;font-weight: bolder;}
.user-tab .nav-tabs > li.active > a{border-bottom: 3px solid #cb0131;border-top: none;border-left: none;border-right: none;}
.user-tab .nav-tabs a:hover{background-color: #FFFFFF;border-bottom: 3px solid #cb0131;border-top: none;border-left: none;border-right: none;color: #555555;}
.user-tab .tab-content{padding: 10px 0px;}

.integral-list h4{margin: 10px 0px;font-weight: bolder;}
.integral-list .award-img img{width: 180px;height: 210px;}
.integral-list .list-inline > li{padding-right: 2px;}
.integral-list .award-info{font-size: 14px;}
.integral-list .award-info .left{font-size: 13px;}
.integral-list .award-info .btn-sm{height: 30px;line-height: 30px;margin: 3px 0px 0px 5px;}

.integral-rules{font-size: 14px;}
.integral-rules h4{font-size: 16px;line-height: 40px;}
.integral-rules .table td{font-size: 14px;}

.user-smart{overflow: hidden;padding: 20px 0px;}
.user-smart .user-smart-left{width: 25%;float: left;border-right: 1px dashed #b7b7b7;padding: 10px 0px;}
.user-smart .user-smart-right{width: 75%;float: left;}

.user-smart-left h3{font-size: 16px;font-weight: bolder;}
.user-smart-left .text-red{margin-top: 20px;font-weight: bolder;font-size: 16px;}
.user-smart-left p{font-size: 14px;line-height: 30px;}

.user-smart-right{padding-left: 30px;font-size: 14px;}
.user-smart-right .list-inline{padding-top: 10px;}
.user-smart-right .list-inline li{width: 32%;margin-bottom: 20px;}
.user-smart-right .text-red{display: block;font-weight: bolder;font-size: 16px;}

.smart-content td{text-align: center;}
.smart-content .btn-sm{margin: auto;}

.invite-auto td{text-align: center;}
.add-auto{overflow: hidden;border: 1px dashed #c2c2c2;padding: 10px;}
.add-auto .add-auto-left{float: left;font-size: 14px;}
.add-auto .add-auto-right{float: right;font-size: 14px;}
.add-auto-left .add-icon{width: 20px; height: 20px; display: inline-block; border-radius: 4px; text-align: center; background-color: #f9cbd6;color: #c7022f;margin-right: 5px;line-height: 20px;}
.auto-ps{font-size: 14px;font-weight: bolder;margin-left: 20px;padding-bottom: 20px;}


/*我要借款*/
.borrow-icon{width: 68px;height: 74px;background-image: url(./assets/img/main/borrow_icon.png);margin: auto;}
.borrow-house{background-position: 0px 0px;}
.borrow-id{background-position: -68px 0px;}
.borrow-credit{background-position: -136px 0px;}
.borrow-security{background-position: 68px 0px;}
.borrow-pig{background-position: -272px 0px;}
.borrow-times{background-position: -340px 0px;}
.borrow-money{background-position: -408px 0px;}
.borrow-atm{background-position: -476px 0px;}
.borrow-briefcase{background-position: -544px 0px;}
.borrow-calculator{background-position: -612px 0px;}
.borrow-cards{background-position: -680px 0px;}
.borrow-pettyLoan{background-position:-408px 0px }

.borrow-contain .list-inline li:hover .borrow-house{background-position: 0px 74px;}
.borrow-contain .list-inline li:hover .borrow-id{background-position: -68px 74px;}
.borrow-contain .list-inline li:hover .borrow-credit{background-position: -136px 74px;}
.borrow-contain .list-inline li:hover .borrow-security{background-position: 68px 74px;}
.borrow-contain .list-inline li:hover .borrow-pig{background-position: -272px 74px;}
.borrow-contain .list-inline li:hover .borrow-times{background-position: -340px 74px;}
.borrow-contain .list-inline li:hover .borrow-money{background-position: -408px 74px;}
.borrow-contain .list-inline li:hover .borrow-atm{background-position: -476px 74px;}
.borrow-contain .list-inline li:hover .borrow-briefcase{background-position: -544px 74px;}
.borrow-contain .list-inline li:hover .borrow-pettyLoan{background-position: -408px 74px;}
.borrow-contain .list-inline li:hover .borrow-calculator{background-position: -612px 74px;}
.borrow-contain .list-inline li:hover .borrow-cards{background-position: -680px 74px;}
.borrow-contain .list-inline li:hover .btn-gray{background-color: #d71345;}

.checked .borrow-house{background-position: 0px 74px;}
.checked .borrow-id{background-position: -68px 74px;}
.checked .borrow-credit{background-position: -136px 74px;}
.checked .borrow-security{background-position: 68px 74px;}
.checked .borrow-pig{background-position: -272px 74px;}
.checked .borrow-times{background-position: -340px 74px;}
.checked .borrow-money{background-position: -408px 74px;}
.checked .borrow-atm{background-position: -476px 74px;}
.checked .borrow-briefcase{background-position: -544px 74px;}
.checked .borrow-pettyLoan{background-position: -408px 74px;}
.checked .borrow-calculator{background-position: -612px 74px;}
.checked .borrow-cards{background-position: -680px 74px;}
.checked .btn-gray{background-color: #d71345;}

.borrow-contain .list-inline{margin: auto;width: 1881.504px}

.borrow-contain .list-inline li{width: 235px;padding: 20px 0px;}
.borrow-contain .borrow-info{padding: 0px 20px;margin-top: 20px;margin-left: 5px;}
.borrow-contain .borrow-info h4{font-size: 15px;font-weight: bolder;}
.borrow-contain .borrow-info p{font-size: 14px;color: #b5b5b5;margin-bottom: 20px;min-height: 42px;}
.borrow-contain .btn-normal{margin: auto;}
.borrow-advantage{text-align: center;padding: 30px 0px;}
.borrow-advantage .borrow-info p{margin-bottom: 0px;min-height: 30px;}
.borrow-advantage .text-red{font-size: 16px;}

.slide-body{transition-property:margin-left;transition-duration:0.2s;-o-transition-property:margin-left;-o-transition-duration:0.2s;-moz-transition-property:margin-left;-moz-transition-duration:0.2s;-webkit-transition-property:margin-left;-webkit-transition-duration:0.2s;}
.slide-icon{position: absolute;top:45%;cursor: pointer;}
.slide-icon-img{width: 65%;}
.slide-left{left: 30px}
.slide-right{right: 30px;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;}

.borrow-form{width: 435px;padding: 30px 0px;}

.upload_list{width: 70%;margin: auto;text-align: center;padding: 40px 0px;}
.upload_list .list-inline h4{font-size: 14px;font-weight: bolder;}
.upload_list .list-inline li{width: 24.5%;margin-bottom: 40px;}
.upload_list  p{color: #b5b5b5;}
.upload_list .btn-normal{margin: auto;}

.upload-icon{width: 50px;height: 40px;background-image: url(./assets/img/main/upload_icon.png);margin: 10px auto;}
.upload-house{background-position: 0px 0px;}
.upload-car{background-position: -50px 0px;}
.upload-marry{background-position: -100px 0px;}
.upload-edu{background-position: -150px 0px;}
.upload-professional{background-position: -200px 0px;}
.upload-phone{background-position: -250px 0px;}
.upload-weibo{background-position: -300px 0px;}
.upload-live{background-position: -350px 0px;}

.checked .upload-house{background-position: 0px 40px;}
.checked .upload-car{background-position: -50px 40px;}
.checked .upload-marry{background-position: -100px 40px;}
.checked .upload-edu{background-position: -150px 40px;}
.checked .upload-professional{background-position: -200px 40px;}
.checked .upload-phone{background-position: -250px 40px;}
.checked .upload-weibo{background-position: -300px 40px;}
.checked .upload-live{background-position: -350px 40px;}
.checked p{color: #d71345;}

.borrow-way{padding: 40px 0px;}
.borrow-way .borrow-way-top{width: 75%;margin: auto;}
.borrow-way .borrow-way-top .list-inline{border-top: 2px solid #b5b5b5;}
.borrow-way .borrow-way-top .list-inline li{position: relative;width: 24.6%;padding: 20px 0px;font-size: 14px;}
.borrow-way .borrow-way-top .list-inline .text-left .doc-box{left: 0px;}
.borrow-way .borrow-way-top .list-inline .text-left{padding-left: 16px;}
.borrow-way .borrow-way-top .list-inline .text-center .doc-box{margin-left: 52px;}
.borrow-way .borrow-way-top .list-inline .text-right .doc-box{right: 0px;}
.borrow-way .borrow-way-top .doc-box{position: absolute;top: -8px;background-color: #FFFFFF;padding: 0px 30px;}
.borrow-way .borrow-way-top .doc{width: 12px;height: 12px;border-radius: 50%;background-color: #b5b5b5;display: block;}
.borrow-way .borrow-way-top .active .doc{width: 16px;height: 16px;border-radius: 50%;background-color: #d71345;display: block;}
.borrow-way .borrow-way-top .active{color: #d71345;}

.borrow-way .carousel{width: 75%;height: 550px;margin: auto;border: 1px solid #dbdbdb;background-color: #f7f5f5;}
.borrow-way .carousel img{width: 100%;height: 550px;border: none;}
.borrow-way .carousel-control{font-size: 44px;color: #636363;line-height: 550px;}
.borrow-way .carousel-control:hover,.borrow-way .carousel-control:focus{color: #d8194a;}
.borrow-way .carousel-control.left{left: -100px;background-image: none;}
.borrow-way .carousel-control.right{right: -100px;background-image: none;}

.borrow-way .borrow-way-bottom{font-size: 14px;text-align: center;color: #696969;margin: 20px 0px;}
.borrow-way .borrow-way-bottom .btn-normal{margin: 10px auto 0px auto;}

.borrow-info-box .contain-table-nobord{padding: 60px 0px;}
.borrow-info-box .btn-normal{margin: auto;margin-top: 40px;}
/*借款修改部分*/

.borrow_cal_btn {
	width: 80px;
	display: inline-block;
	margin-right: 8px;
}
.borrow_cal_contain {
	width: 49%;
	float: right;
}
.borrow_info_contain {
	width: 49%;
	float: left;
	height: 402px;
}
.borrow_info_zu {
	height: 520px;
}
.exp-p {
	text-align: left;
	width: 94%;
	margin: auto;
	margin-top: 20px;
}
.exp-h3{
	font-size: 18px;
	font-weight: bold;
	    line-height: 40px;
}
.exp-lt-p {
	display: inline-block;
	text-align: right;
	vertical-align: top;
	font-size: 14px;
	line-height: 25px;
}
.exp-rt-p {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	font-size: 14px;
	line-height: 25px;
}
.exp-angle{
	display: inline-block;
	width: 221px;
	height: 223px;
	text-align: center;
	vertical-align: top;
	margin-top: 10px;
}
.exp-lt-angle{
	background: url(./assets/img/main/lt_angle.png);
}
.exp-rt-angle{
	background: url(./assets/img/main/rt_angle.png);
}

/*借款修改部分完*/


/*我要理财*/
.invest-index{overflow: hidden;padding: 0px -1%;}
.invest-index .invest-list-contain{width: 48%;float: left;margin: 0px 1%;padding: 20px;background-color: #FFFFFF;margin-bottom: 20px;}
.invest-index .invest-list-contain h3{font-weight: bolder;margin-bottom: 10px;}
.invest-index .invest-list-contain p{font-size: 14px;}
.invest-index .invest-list-contain .borrow-icon{margin: 20px 0px;}
.invest-index a:hover{color: #636363;}

.invest-hzb-icon{background-image: url(./assets/img/main/invest_icon.png);display: inline-block;}
.diya-icon{width: 18px;height: 20px;background-position: 0px -139px;margin: 0px 10px;vertical-align: text-top;}
.danbao-icon{width: 18px;height: 20px;background-position: -18px -139px;vertical-align: text-top;}
.zhi-icon{width: 18px;height: 20px;background-position: 0px -159px;vertical-align: text-top;}
.cu-icon{width: 16px;height: 16px;background-position: -36px -139px;margin-right: 5px;vertical-align: sub;}
.right-icon{width: 12px;height: 14px;background-position: -52px -139px;margin-right: 5px;vertical-align: sub;}

.invest-check-icon{width: 79px;height: 62px;background-image: url(./assets/img/main/invest_check_icon.png);margin: auto;}
.invest-check-id{background-position: 0px 0px;}
.invest-check-credit{background-position: -79px 0px;}
.invest-check-work{background-position: -158px 0px;}
.invest-check-asset{background-position: -237px 0px;}

.checked .invest-check-id{background-position: 0px 62px;}
.checked .invest-check-credit{background-position: -79px 62px;}
.checked .invest-check-work{background-position: -158px 62px;}
.checked .invest-check-asset{background-position: -237px 62px;}

.invest-info{overflow: hidden;padding: 20px 0px;}
.invest-info-left{width: 65%;float: left;margin-right: 2%;font-size: 14px;}
.invest-info-right{width: 33%;float: left;border: 1px solid #dbdbdb;background-color: #f7f5f5;border-radius: 4px;padding: 20px 35px;font-size: 14px;}

.invest-info-left .list-inline{padding: 40px 0px;border-bottom: 1px solid #dbdbdb;margin-bottom: 20px;}
.invest-info-left .list-inline li{padding: 0px 35px;text-align: center;border-right: 1px solid #dbdbdb;}
.invest-info-left .list-inline p{margin: 10px 0px;}
.invest-info-left .list-inline .br-none{border-right: none;}

.invest-info-left-bottom{overflow: hidden;}
.invest-info-left-bottom .progress{width: 76%;height: 8px;float: left;margin: 5px 5% 0px 0px;}
.invest-info-left-bottom .progress-bar-danger{height: 8px;background-color: #d71345;border-radius: 4px;}
.info-left-bottom-one{width: 30%;float: left;overflow: hidden;}
.info-left-bottom-two{width: 40%;float: left;text-align: center;color: #b4b4b4;}
.info-left-bottom-two .text-red{font-weight: bolder;}
.info-left-bottom-three{width: 30%;float: left;text-align: right;color: #d71345;font-weight: bolder;}

.invest-info-right h1{font-weight: bolder;}
.invest-info-right p{line-height: 25px;}
.invest-info-right input[type=text]{width: 220px;height: 38px;font-weight: lighter;border: 1px solid #dbdbdb;padding: 0px 5px;margin: 10px 5px 0px 0px;font-size: 14px;}
.invest-info-right .btn-normal{width: 250px;margin: 10px auto;border-radius: 0px;}
.invest-info-right .recharge{display: inline-block;margin-left: 10px;background-color: #ccc;padding: 0px 8px;color: #fff;border-radius: 4px;}
.invest-info-right .invest-refund input[disabled]{cursor: not-allowed;background-color: #eee;opacity: 1;}
.invest-info-right .invest-refund .btn-red{background-color: #b5b5b5;}

.invest-redpacket h4{font-size: 14px;}
.invest-redpacket .radio-group{font-size: 14px;margin: 30px 10px;}
.invest-redpacket .radio-group span{font-size: 12px;margin-left: 10px;}
.invest-redpacket .invest-redpacket-info{margin-left: 20px;}

.contain-tab-block{margin-bottom: 40px;}
.contain-tab-block .nav-tabs{border-bottom: 1px solid #f7f5f5;}
.contain-tab-block .nav > li > a{padding: 10px 30px;}
.contain-tab-block .nav-tabs > li > a:hover{font-weight: bolder;color: #555555;}
.contain-tab-block .nav-tabs > li > a{background-color: #FFFFFF;border-radius: 0px;margin: 0px;border-bottom: 1px solid #f7f5f5;font-size: 16px;}
.contain-tab-block .nav-tabs > li.active > a{border: 1px solid #f7f5f5;border-bottom-color: transparent;border-radius: 0px;font-weight: bolder;}
.contain-tab-block .tab-content{background-color: #FFFFFF;padding: 20px 40px 40px;}
.contain-tab-block .tab-content li{width: 30%;border-right: 1px dashed #b5b5b5;margin-right: 28px;}
.contain-tab-block .tab-content li h4{font-size: 15px;font-weight: bolder;line-height: 30px;}
.contain-tab-block .tab-content li .col-md-6{font-size: 14px;color: #696969;line-height: 30px;}
.contain-tab-block .tab-content .row{min-height: 180px;}
.contain-tab-block .tab-content .br-none{border-right: none;}

.borrow-detial{overflow: hidden;}
.borrow-detial .borrow-detial-left{width: 23%;float: left;}
.borrow-detial .borrow-detial-right{height: 210px;float: left;}

.borrow-detial .borrow-detial-left ul{list-style: disc;}
.borrow-detial .borrow-detial-left li{border: none;width: auto;}
.borrow-detial .borrow-detial-left a{text-decoration: underline;line-height: 25px;}

.borrow-detial .borrow-detial-right .borrow-right-contain{overflow: hidden;}
.borrow-detial .borrow-detial-right .borrow-detial-img{width: 292px;height: 210px;float: left;border: 1px solid #dbdbdb;background-color: #f7f5f5;margin: 0px 15px;}
.borrow-detial .borrow-detial-right .borrow-detial-img img{width: 100%;height: 210px;}
.borrow-detial .borrow-detial-right .borrow-right-contain a{width: 25px;font-size: 36px;line-height: 210px;}
.borrow-detial .borrow-detial-right #carousel{float: left;}
.borrow-check-block,.borrow-grade-block{padding: 30px 0px;margin: 0px 40px;background-color: #FFFFFF;border-top: 1px solid #dbdbdb;}
.borrow-check-block h4,.borrow-grade-block h4{font-size: 15px;font-weight: bolder;}
.borrow-check-block .list-inline{width: 648px;margin: auto;}
.borrow-check-block .list-inline li{text-align: center;padding: 0px 40px;}

.borrow-item-grade{width: 730px;margin: auto;overflow: hidden;}
.borrow-item-grade .borrow-item-grade-left{width: 188px;height: 206px;text-align: center;margin: 0px 80px 0px 40px;font-size: 14px;float: left;background-position: -262px 0px;background-image: url(./assets/img/main/invest_icon.png);}
.borrow-item-grade .borrow-item-grade-right{width: 414px;float: left;position: relative;}
.borrow-item-grade .borrow-item-grade-bg{width: 262px;height: 139px;margin-top: 35px;background-image: url(./assets/img/main/invest_icon.png);}
.borrow-item-grade .borrow-item-grade-left img{display: block;margin: 35px auto 10px auto;}
.borrow-asset-grade,.borrow-recharge-grade,
.borrow-credit-grade{width: 150px;position: absolute;text-align: right;top: 25px;left: 50px;font-size: 14px;}
.borrow-recharge-grade{top: 81px;}
.borrow-credit-grade{top: 140px;}
.borrow-sum-grade{position: absolute;top: 85px;left: 270px;}

.lct-icon{width: 90px;height: 54px;margin:0px auto 5px auto;background-image: url(./assets/img/main/invest_lct.png);}
.lct-one{background-position: 0px 0px;}
.lct-two{background-position: -90px 0px;}
.lct-three{background-position: -180px 0px;}
.lct-four{background-position: -270px 0px;}

.subscription-way{width: 70%;padding: 40px 0px;margin: auto;}
.subscription-way .list-inline li{width: 24%;text-align: center;}

.lct-info{padding: 20px 0px;font-size: 14px;}
.lct-info .table{margin: 10px 0px;}
.lct-info .table .text-gray{margin-right: 20px;}
.lct-info .table > tbody > tr > th{border: none;font-size: 14px;padding: 8px 0px;}

.invset-notice{position: absolute;top: -24px;font-size: 14px;}

.tab-red .nav-tabs > li.active > a{border-top: 2px solid #d71345;color: #d71345;}
.tab-red .tab-content li{width: auto;border: none;font-size: 14px;padding: 0px 10px;}
.tab-red input[type=radio]{display: none;}
.tab-red input:checked + p{padding: 0px 10px;color: #FFFFFF;background-color: #d71345;}
.tab-red li p{cursor: pointer;}

.choose-content .list-inline{margin-top: 20px;}

.invest-navbar .navbar-default{background-color: #FFFFFF;border: #FFFFFF;border-radius: 0px;}
.invest-navbar .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{color: #FFFFFF;background-color: #d71345;}
.invest-navbar .navbar-default .navbar-nav a{font-size: 14px;}

.count-earnings{background-color: #FFFFFF;padding: 20px;}
.count-earnings-top{width: 360px;margin: auto;padding: 20px 0px;font-size: 22px;color: #d71345;line-height: 35px;}
.count-earnings-top input[type=text]{width: 200px;height: 35px;margin: 0px 10px;vertical-align: bottom;border: 1px solid #d71345;}
.count-earnings-center{position: relative;margin: 35px 0px;}
.count-earnings-icon{width: 20px;height: 20px;top: -8px;cursor: pointer;background-color: #696969;border-radius: 50%;color: #FFFFFF;font-size: 19px;text-align: center;line-height: 20px;}
.earnings-sub{position: absolute;left: 10px;}
.earnings-add{position: absolute;right: 10px;}

.dividing-rules{width: 100%;}
.dividing-rules .dividing-img{width: 873px;display: block;margin: auto;margin-top: 20px;}
.dividing-progress{width: 870px;height: 5px;position: relative;background-color: #696969;margin: auto;}
.dividing-progress .handle {position: absolute;left: 0;cursor: pointer;width: 30px;height: 30px;border-radius: 50%;background-color:#D81245;}
.dividing-icon{position: absolute;top: -12px;}
.drag-line-trans{height: 100%;background-color: #D81245;width: 0%;}

.contain-list-block nav{text-align: right;}
.contain-list-block .pagination{margin: 0px;}
.contain-list-block .pagination > .active > a{background-color: #d71345;border-color: #d71345;}
.invest-list{margin: 0px -10px;}
.invest-list .list-inline li{width: 233px;background-color: #FFFFFF;margin: 10px;padding: 0px;margin-bottom: 30px;}
.invest-list .btn-normal{width: 100%;height: 40px;line-height: 40px;border-radius: 0px;}
.invest-list-contain{padding: 20px;position: relative;}
.invest-list-contain h4{color: #d71345;}
.invest-list-contain .invest-rate{width: 156px;height: 156px;position: relative;border: 1px dashed #787878;border-radius: 50%;margin: 30px auto 0px auto;text-align: center;color: #b5b5b5;}
.invest-list-contain .invest-rate h1{font-size: 70px;color: #d71345;margin: 30px 10px 0px 20px;}
.invest-list-contain .new-tag{width: 30px;height: 50px;position: absolute;top: -5px;right: 10px;background-image: url(./assets/img/main/tag_green.png);color: #FFFFFF;text-align: center;}
.invest-list .list-inline .invest-refund h4{color: #b5b5b5;}
.invest-list .list-inline .invest-refund .btn-red{background-color: #b5b5b5;}

.invest-list-contain .invest-rate-type{width: 52px;height: 52px;position: absolute;top: -10px;right: -10px;border: 1px dashed #787878;border-radius: 50%;background-color: #FFFFFF;color: #d71345;}
.invest-list-contain .invest-rate-tag{width: 19px;height: 19px;background-color: #d71345;color: #FFFFFF;margin: 7px auto 0 auto;}
.invest-list-contain .invest-info{width: 100%;color: #b5b5b5;padding-top: 20px;padding-bottom: 0px;}

/*主页*/
.index-icon{background-image: url(./assets/img/main/index_icon.png);margin: auto;}
.index-earnings{background-position: 0px 0px;width: 61px;height: 66px;}
.index-shield{background-position: -61px 0px;width: 61px;height: 66px;}
.index-plane{background-position: -122px 0px;width: 61px;height: 66px;}
.index-100y{background-position: -183px 0px;width: 61px;height: 66px;}
.index-why{background-position: -244px 0px;width: 61px;height: 66px;}
.index-have{background-position: -11px -66px;width: 11px;height: 11px;display: inline-block;margin-right: 10px;}
.no-have .index-have{background-position: 0px -66px;}

.index-contain{margin: -35px 0px;}
.index-banner{position: relative;}
.index-banner .carousel-inner img{min-height: 354px;max-height: 354px;}
.index-banner-box{width: 1000px;position: absolute;margin: auto;left: 0;right: 0;}
.index-banner-boxc{width: 300px;position: absolute;top: 40px;right: 0;color: #FFFFFF;background-color: rgba(0,0,0,0.5);z-index: 10;padding: 20px;}
.index-banner-boxc .btn-auto{height: 40px;line-height: 40px;margin-bottom: 10px;}
.index-banner .carousel-indicators .active {background-color: #c8c8c8;}
.index-banner .carousel-indicators li {border: 1px solid #c8c8c8;}

.earnings-rate{height: 105px;position: relative;margin-bottom: 10px;}
.earnings-rate p{font-size: 66px;line-height: 50px;margin-top: 10px;}
.earnings-rate p .text-size-12{vertical-align: text-top;}
.earnings-rate .qingsong{position: absolute;right: 12px;bottom: 0px;}

.index-bg-white{background-color: #FFFFFF;}
.index-feature-contain{width: 1000px;margin: auto;padding: 40px 0px;}
.index-feature-top{text-align: center;font-size: 16px;margin-bottom: 20px;}
.index-feature-top img{vertical-align: text-bottom;}
.index-feature-contain .list-inline{margin: 0px -10px;}
.index-feature-contain .list-inline li{width: 230px;height: 195px;margin: 0px 10px;padding: 20px 10px;text-align: center;display: inline-table;border: 1px solid #dbdbdb;border-radius: 4px;}
.index-feature-contain .list-inline h4{color: #d71345;font-size: 14px;margin: 15px 0px 10px 0px;}
.index-feature-contain .list-inline p{color: #b5b5b5;line-height: 20px;min-height: 60px;}

.index-compare{width: 1000px;margin: auto;padding: 40px 0px;overflow: hidden;}
.index-compare-left{width: 25%;float: left;text-align: center;font-size: 16px;color: #d71345;padding-top: 80px;}
.index-compare-left .index-icon{margin-bottom: 10px;}
.index-compare-right{width: 75%;float: left;padding-left: 20px;}
.index-compare-right .compare-title{padding-left: 85px;}

.index-compare-right li{font-size: 14px;}
.index-compare-other{width: 240px;float: left;border: 1px solid #dbdbdb;border-bottom: none;margin-top: 5px;}
.index-compare-other .compare-title{background-color: #e7eaee;}
.index-compare-other li{padding: 15px 0px 15px 60px;border-bottom: 1px solid #dbdbdb;background-color: #FFFFFF;}

.index-compare-hzd{width: 240px;float: left;border: 1px solid #d71345;border-bottom: none;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.index-compare-hzd .compare-title{background-color: #d71345;color: #FFFFFF;padding-top: 20px;}
.index-compare-hzd li{padding: 15px 0px 15px 40px;border-bottom: 1px solid #d71345;background-color: #FFFFFF;}
.border-top-left-radius{border-top-left-radius: 4px;}
.border-top-right-radius{border-top-right-radius: 4px;}

.newbie-item{width: 1000px;margin: auto;padding: 40px 0px;}
.newbie-item h4{margin-bottom: 20px;width: 100%;}
.newbie-item-contain{overflow: hidden;}
.newbie-left{width: 80%;position: relative;padding: 30px 0px 30px 50px;margin-right: 5%;float: left;border: 2px solid #d71345;border-radius: 6px;}
.newbie-left h4{font-size: 16px;font-weight: bolder;}
.newbie-left .list-inline li{width: 24%;text-align: center;}
.newbie-left .list-inline h4{font-size: 14px;margin-bottom: 10px;color: #c4c4c4;font-weight: lighter;}
.newbie-left .list-inline p{font-size: 24px;font-weight: bolder;}
.newbie-right{width: 15%;float: right;text-align: center;color: #c4c4c4;}
.newbie_tag{position: absolute;top: 0;left: 0;}

.index-rocommend{width: 1000px;margin: auto;padding: 40px 0px;}
.index-rocommend h4{margin-bottom: 20px;width: 100%;}
.index-rocommend .list-inline li{width: 248px;color: #d71345;}
.recommend-title{position: relative;}
.recommend-title .new-tag{width: 30px;height: 50px;position: absolute;top: -5px;right: 10px;background-image: url(./assets/img/main/tag_green.png);color: #FFFFFF;text-align: center;}

/*首页精品推荐小圆背景颜色*/
.index-rocommend .recommend-contain-float{background-color: #f7f5f5;}
.index-rocommend .btn-auto{position: relative;border-radius: 0px;}
.index-rocommend .btn-progress-text{width: 100%;position: absolute;top: 0;left: 0;}
.index-rocommend .btn-progress{height: 30px;}

.index-case{width: 1000px;margin: auto;padding: 40px 0px;}
.index-case-contain .list-inline li{margin: 0px 40px;}
.index-case-contain .list-inline li img{width: 93px;height: 93px;border: 4px solid #e6e7e7;border-radius: 50%;}
.index-case-contain{text-align: center;color: #b5b5b5;font-size: 14px;}
.index-case-contain h2{color: #d71345;line-height: 40px;}
.index-case-contain p{line-height: 25px;}
.index-case-contain .btn-normal{margin: 20px auto 0px auto;}

.index-news{width: 1000px;margin: auto;padding: 40px 0px;}
.index-news h4{width: 100%;}
.index-news-contain{overflow: hidden;margin: 20px -25px 0px -25px;}
.news-contain-left{height:140px; float:left;overflow: hidden;width: 500px;margin: 0px 25px;}
.news-contain-right{float: left;width: 400px;margin: 0px 25px;padding-left: 50px;}

.news-contain-left .img-responsive{width: 210px; height: 140px;float: left;margin-right: 30px;}
.news-contain-left .ove{margin-bottom: 20px;}
.index-new-news{width: 260px;float: left;}
.index-new-news h4{font-size: 14px;}
.index-new-news h4 .index-new-author{display: block;font-size: 12px;color: #c9c9c9;line-height: 25px;}
.index-new-news p{text-indent: 25px;line-height: 20px;margin-top: 20px;}
.index-news-list a{line-height: 25px;font-size: 14px;color: #c9c9c9;}
.index-news-list a:hover{color: #101010;}

.index-partner{width: 1000px;margin: auto;padding: 20px 0px;overflow:hidden;}
.index-partner .list-inline{margin: 20px -10px 0px -10px;}
.index-partner .list-inline li{border: 1px solid #dbdbdb;border-radius: 4px;margin: 5px 10px;padding: 0px;}
.index-partner .list-inline li img{width: 220px;height: 54px;}
.index-partner-img{display: block;max-width: 100%;}

/*友情链接*/
.index-flink{width: 1000px;margin: auto;overflow:hidden;}
.index-flink ul li a{font-size: 16px;color: #b5b5b5;margin:20px 30px 10px 0px;display: inline-block;float:left;}
.index-flink a:hover{color: #101010;}

.index-activity{width: 1000px;margin: auto;padding: 40px 0px;}
.index-activity h4{width: 100%;}

.index-activity-contain{height: 298px;overflow: hidden;margin-top: 24px;}
.index-activity-item{overflow: hidden;margin-bottom: 24px;}
.index-item-left{width: 245px;margin-right: 35px;float: left;}
.index-item-left .img-responsive{width: 245px;height: 135px;border: 1px solid #dbdbdb; border-radius: 8px;}
.index-item-right{width: 720px;float: left;}
.index-item-right h4{color: #000000;font-size: 22px;}
.index-item-right span{display: block;color: #b5b5b5;font-size: 14px;margin: 15px 0px 20px;}
.index-item-right p{font-size: 14px;}

/*关于我们*/
.about_nav_icon{width: 26px;height: 26px;background-image: url(./assets/img/about/about_nav_icon.png);display: inline-block;vertical-align: middle;margin-top: -5px;margin-right: 15px;}
.nav_icon9{background-position: 0px 0px;}
.nav_icon10{background-position: -26px 0px;}
.nav_icon11{background-position: -52px 0px;}
.nav_icon12{background-position: -78px 0px;}
.nav_icon13{background-position: -104px 0px;}
.nav_icon14{background-position: -103px 0px;}
.nav_icon105{background-position: 156px 0px;}
.nav_icon106{background-position: -182px 0px;}
.nav_icon107{background-position: -130px 0px;}

.active .nav_icon9{background-position: 0px 26px;}
.active .nav_icon10{background-position: -26px 26px;}
.active .nav_icon11{background-position: -52px 26px;}
.active .nav_icon12{background-position: -78px 26px;}
.active .nav_icon13{background-position: -104px 26px;}
.active .nav_icon14{background-position: -103px 26px;}
.active .nav_icon105{background-position: 156px -26px;}
.active .nav_icon106{background-position: -182px -26px;}
.active .nav_icon107{    background-position: -130px -26px;}

.about-company{width: 700px;margin: auto;padding: 20px 0px;}
.about-text{font-size: 14px;color: #696969;margin: 20px 0px;}
.about-text h1{padding: 20px 0px;color: #000000;}
.about-text p{margin-bottom: 20px;line-height: 25px;}
.about-text .text-bolder{color: #000000;}

.about-company .ablout-img-text{margin: 0px 20px;}
.about-company .table-border{margin: 20px;}
.about-company .table-border td{border: 1px solid #696969;font-size: 14px;padding: 15px;}

.about-text-block{width: 700px;margin: auto;font-size: 14px;padding: 20px 0px;color: #696969;}
.about-text-img{padding: 20px 40px;overflow: hidden;}
.about-text-img div{font-size: 14px;}
.about-expert-img{width: 200px;float: left;margin: 10px;}
.about-expert-img img{width: 177px;height: 179px;box-shadow: 0px 0px 20px rgba(181,181,181,0.38);display: block;max-width: 100%;}
.about-expert-info{width: 460px;float: left;font-size: 14px;color: #696969;margin: 20px 10px;line-height: 25px;}
.about-expert-info h4{font-size: 32px;color: #000000;margin-bottom: 10px;}
.about-expert-info h4 span{font-size: 12px;line-height: 20px;color: #b5b5b5;display: block;}

.about-img-text{margin: 0px 90px;overflow: hidden;}
.about-img-text-block{overflow: hidden;padding: 40px 0px;border-bottom: 1px dashed #b5b5b5;}
.about-img-text-block img{margin: 0px 25px;}
.about-img-text-block .about-info{width: 370px;font-size: 14px;padding-top: 20px;color: #696969;}
.about-img-text-block .about-info h4{font-size: 16px;font-weight: bolder;margin-bottom: 10px;}
.no-border-bottom{border-bottom: none;}

.reisk-control{padding: 40px 0px;text-align: center;}
.reisk-control h1{margin-bottom: 30px;}
.reisk-control .list-inline{margin: 40px 5px 0px 5px;}
.reisk-control .list-inline li{width: 18.2%;margin: 5px;padding: 10px;background-color: #f7f5f5;text-align: left;}
.reisk-control .list-inline li h4{font-size: 14px;font-weight: bolder;text-align: center;margin-bottom: 5px;}

.org-money-product{margin-top: 20px;font-size: 14px;}
.org-money-product .table{margin-top: 10px;font-size: 14px;border: 1px solid #d7d7d7;}
.org-money-product .table > thead > tr > th, .table > tbody > tr > th{font-weight: lighter;text-align: center;padding: 12px 8px;}
.org-money-product .table > thead > tr > th{background-color: #f3f3f3;}
.org-money-product .table .btn-sm{margin: auto;}
.org-money-product .question-icon{width: 17px;height: 17px;border-radius: 17px;margin-left: 5px;color: #FFFFFF;background-color: #b8b8b8;display: inline-block;}

.about-law{padding: 30px;}
.about-law li{width: 32%;text-align: center;}
.about-law li img{margin-bottom: 20px;}

.contact-us-info{width: 400px;margin: auto;overflow: hidden;padding: 30px 0px;text-align:center}
.contact-us-info h4{font-size: 16px;font-weight: bolder;margin-bottom: 20px;}
.contact-info{overflow: hidden;font-size: 14px;font-weight: bolder;margin-bottom: 10px;}
.contact-info .right-info{width: 340px;font-size: 14px;font-weight: lighter;margin-left: 10px;overflow: hidden;margin: 0 auto;color: #8e8e8e;    margin-bottom: 37px;line-height: 24px;}
.contact-info .right-info p.tip{color:red;font-weight:blod}
.right-info .qr-code{text-align: center;float: right;color: #b5b5b5;margin-right:30px;margin-top:10px;}
.right-info .qr-code img{margin-bottom: 5px;}
.hzd-address{width: 314px;height: 190px;margin: 10px 0px 0px 70px;}
.contact-form{background-color: #FFFFFF;padding: 20px 30px;overflow: hidden;}
.contact-form input{width: 30%;height: 30px;margin: 10px;padding: 0px 15px;background-color: #f7f5f5;}
.contact-form textarea{width: 96%;height: 100px;margin: 10px;padding: 15px;background-color: #f7f5f5;border: none;outline: none;}
.contact-form .btn-small{float: right;}

.about-attract{padding: 30px;}
.about-attract li{width: 24%;text-align: center;color: #b5b5b5;}
.about-attract li img{margin-bottom: 20px;}
.about-attract li h4{color: #696969;}
.about-attract li p{color: #b5b5b5;}
.attract-info{padding: 40px 30px;text-align: center;}
.attract-info h4{font-weight: bolder;margin-bottom: 10px;}
.attract-info p{color: #b5b5b5;}
.attract-info img{margin-top: 20px;}

/*404*/
.hzd-404{width: 580px;margin: auto;color: #696969;font-size: 14px;}
.hzd-404 h2{font-size: 36px;}
.hzd-404 h1{font-size: 72px;}
.hzd-404 .text-red{margin: 40px 0px;}
.hzd-404 .link-404{margin: 40px 0px;}
.hzd-404 a{width: 32%;display: inline-block;color: #b5b5b5;}
.hzd-404 a:hover{color: #d71345;}

/*帮助中心*/
.help-index .list-inline{margin: 0px -1%;}
.help-index .list-inline li{width: 31%;font-size: 14px;padding: 60px 0px;margin: 10px 1%;text-align: center;background-color: #FFFFFF;}
.help-index .list-inline img{display: block;margin: auto;margin-bottom: 20px;}

.help_nav_icon{width: 26px;height: 26px;background-image: url(./assets/img/help/help_nav_icon.png);display: inline-block;vertical-align: middle;margin-top: -5px;margin-right: 15px;}
.nav_icon15{background-position: 0px 0px;}
.nav_icon16{background-position: -26px 0px;}
.nav_icon17{background-position: -52px 0px;}
.nav_icon18{background-position: -78px 0px;}
.nav_icon19{background-position: -104px 0px;}
.nav_icon20{background-position: -130px 0px;}

.active .nav_icon15{background-position: 0px 26px;}
.active .nav_icon16{background-position: -26px 26px;}
.active .nav_icon17{background-position: -52px 26px;}
.active .nav_icon18{background-position: -78px 26px;}
.active .nav_icon19{background-position: -104px 26px;}
.active .nav_icon20{background-position: -130px 26px;}

.help-main-block{padding: 20px 50px;font-size: 16px;font-weight: bolder;color: #696969;}
.help-main-block li{margin: 20px 0px;}
.help-main-block li p{cursor: pointer;}
.help-contain{width: 100%;display: none;position: relative;padding: 15px 20px;margin-top: 15px;font-size: 14px;line-height: 30px;border-radius: 6px;color: #FFFFFF;background-color: #e02244;transition: all 1s;}
.help-contain .angle{position: absolute;top: -19px;left: 15px;}

/*新闻中心*/
.news-main-block{width: 1000px;margin: auto;overflow: hidden;padding: 40px 60px;background-color: #FFFFFF;}
.news-main-left{width: 370px;float: left;margin-right: 60px;}
.news-main-right{width: 450px;float: left;}

.news-main-left li{margin-bottom: 40px;}
.news-main-left img{width: 370px;margin-bottom: 10px;}
.news-main-left h4{font-size: 16px;margin-bottom: 10px;}
.news-main-left p{font-size: 12px;color: #b5b5b5;margin-bottom: 10px;}
.news-main-left span{width: 70px;font-size: 12px;color: #b5b5b5;margin-top: -3px;padding-top: 5px;display: block;border-top: 2px solid #696969;}
.news-main-left hr{margin: 0px;border-top: 2px solid #f7f5f5;}

.news-main-right{font-size: 16px;color: #696969;}
.news-main-right li{margin-bottom: 30px;}
.news-main-right h4{padding-bottom: 10px;margin-bottom: 20px;font-size: 16px;font-weight: bolder;border-bottom: 1px solid #dbdbdb;}
.news-main-right hr{margin: 10px 0px 0px;}
.news-main-right span{font-size: 12px;color: #b5b5b5;}

/*.news-detail-block{width: 1000px;margin: auto;padding: 30px 60px 60px;background-color: #FFFFFF;}*/
.news-detail{width: 1000px;margin: auto;position: relative;}
.news-detail-block{width: 750px;padding: 50px 30px 60px 30px;background-color: #FFFFFF;}
/*.news-detail-block .news-link{font-size: 14px;color: #b5b5b5;text-align: center;display: block;float:left;}*/
.news-detail-link{text-align:center;}
.news-detail-link .news-link{font-size: 14px;color: #b5b5b5;width: 32%;display: inline-block;}
.news-detail-link .news-link:hover{color:black;}

.news-detail-title{text-align: center;margin-bottom: 30px;}
.news-detail-title h1{width: 100%;font-size: 18px;font-weight: bolder;padding-bottom: 20px;margin-bottom: 10px;border-bottom: 1px solid #dbdbdb;}
.news-detail-title span{font-size: 12px;color: #b5b5b5;}

.news-detail-contain{width: 640px;margin: -20px auto 20px auto;font-size: 14px;line-height: 25px;text-align: center;}
.news-detail-contain img{margin: 20px 0px;}
.news-detail-contain p{text-align: left;;}
.news-detail-contain .text-gray{font-size: 12px;margin: -10px 0px 10px 0px;display: block;}

.news-detail-recent{height: 400px; width:235px;margin: auto; font-size: 14px;line-height: 25px;text-align: center;background-color: #FFFFFF;right: 0px;position: fixed;left: 765px;top: 300px;top: 195px;}
.news-detail-recent li{margin-bottom: 30px;padding-left:10px;padding-right:10px;border-bottom: 1px solid #dbdbdb;}
.news-detail-recent h5{padding: 10px 0px 10px 0px;margin-bottom: 10px;font-size: 14px;font-weight: bolder;color:red;border-bottom: 1px solid #dbdbdb;left:0px;}
.news-detail-recent a{display:inline-block;float:left;}
.news-detail-recent p{left:0px;}
.news-detail-recent-more{margin-left:0px;text-align:left;border-top: 1px solid #dbdbdb;padding:10px 10px;}

/*我要加盟*/
.join-banner{padding: 20px 0px;text-align: center;}
.join-banner h4{font-size: 30px;margin: 30px 0px;}
.join-banner p{font-size: 18px;color: #b5b5b5;margin-bottom: 20px;}

.join-list{padding: 40px;}
.join-list .list-inline li{width: 24%;text-align: center;}
.join-list .list-inline li p{font-size: 14px;color: #696969;margin: 20px 0px 10px 0px;}

.join-form{padding: 40px 0px 20px 0px;}
.join-form label{font-size: 14px; font-weight: lighter;padding-top: 0px;}
.join-form input, .join-form select{border-radius: 0px;}
.join-form span, .join-form a{line-height: 34px;}

/*活动专区*/
.activity-contain{width: 1000px;margin: auto;overflow: hidden;}
.activity-contain .text-top{vertical-align: text-top;font-size: 12px;}
.activity-top{width: 100%;padding: 10px;overflow: hidden;background-color: #FFFFFF;border: 1px solid #dbdbdb;}
.activity-top-left{width: 700px;float: left;}
.activity-top-right{width: 250px;float: right;padding-top: 60px;}

.activity-top-left .img-responsive{width: 700px;height: 240px;}
.activity-top-right p{margin: 10px 0px 30px 0px;}

.activity-pass{margin-top: 40px;}
.activity-pass-title{width: 100%;height: 30px;position: relative;}
.activity-pass-title h4{width: 100px;position: absolute;line-height: 30px;text-align: center;background-color: #f7f5f5;}
.activity-pass-title .line{width: 100%;height: 16px;position: absolute;border-bottom: 1px solid #dbdbdb;}

.activity-box{position: relative;}
.activity-box .img-responsive{width: 306px;height: 175px;}
.activity-box .activity-tag{position: absolute;right: -5px;bottom: -15px;}
.activity-list .list-inline{margin: 0px -10px;}
.activity-list .list-inline li{padding: 5px;margin: 15px 9px;border-bottom: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb;background-color: #FFFFFF;}
.activity-box-info{margin: 20px 0px 10px 10px;}
.activity-box-info h4{margin-bottom: 10px;}

/*建设中弹窗*/
.buliding-block{width: 490px;position: relative;margin: auto;padding: 10px;line-height:40px;background-color: #FFFFFF;border-radius: 6px;text-align: center;}
.buliding-block .close-btn{width: 24px;height: 24px;position: absolute;top: -10px;right: -10px;cursor: pointer;background-image: url(./assets/img/event/x_btn.png);}

/*定存宝*/
.dingcun-info{padding: 20px 10px 30px;}
.dingcun-info h4{color: #d71345;font-size: 18px;font-weight: bolder;margin-bottom: 20px;}
.dingcun-info p{color: #696969;font-size: 12px;line-height: 25px;}

.dingcun-earnings{padding: 20px 10px 30px;}
.dingcun-earnings li{width: 24.5%;display: inline-block;color: #b5b5b5;font-size: 14px;text-align: center;}
.dingcun-earnings li:hover{color: #000000;}
.dingcun-earnings .btn-normal{margin: 30px auto 0px;}
.dingcun-box{width: 140px;height: 140px;margin: 20px auto;background-image: url(./assets/img/user/dingcun_earnings.png);}
.dingcun-box-12h .dingcun-box{background-position: 0px -140px;}
.dingcun-box-13 .dingcun-box{background-position: -140px -140px;}
.dingcun-box-13h .dingcun-box{background-position: -280px -140px;}
.dingcun-box-14 .dingcun-box{background-position: -420px -140px;}

.dingcun-box-12h:hover .dingcun-box{background-position: 0px 0px;}
.dingcun-box-13:hover .dingcun-box{background-position: -140px 0px;}
.dingcun-box-13h:hover .dingcun-box{background-position: -280px 0px;}
.dingcun-box-14:hover .dingcun-box{background-position: -420px 0px;}

.dingcun-table td{text-align: center;}
.dingcun-table .btn-sm{margin: auto;}

.success-contain{width: 1200px;margin: auto;overflow: hidden;}
.invest_success{width: 100%;margin:91px auto 0;color: #696969;font-size: 14px;}
.invest_success h2{font-size: 36px;}
.invest_success h1{font-size: 72px;}
.invest_success .text-red{margin: 40px 0px;}
.invest_success .link-404{margin: 100px auto 91px;width:500px}
.invest_success a{width: 32%;display: inline-block;color: #b5b5b5;}
.invest_success a:hover{color: #d71345;}

.dingcun-flow{padding: 40px 20px 20px 40px;background-color: #d71345;color: #FFFFFF;font-size: 14px;}
.dingcun-flow .dingcun_num{margin-left: 20px;font-weight: bolder;font-size: 56px;}
.dingcun-flow .dingcun_list{margin-top: 40px;color: #FFFFFF;font-size: 13px;}

.dingcun_list .border-right{margin-right: 2%;border-right: 1px solid #FFFFFF;}
.dingcun_list li{width: 22%;display: inline-block;}
.dingcun_list li span{margin-left: 15px;font-weight: bolder;}
.dingcun-flow-table td{text-align: center;}

/*页面头部改动（15.12.7）*/
.zu-top-li{position: relative;}
.zu-top-hot{position: absolute;top: -8px;}
/*页面头部改动（15.12.7）End*/

/*申请成功页面（15.12.7）*/
.zu-success{width: 700px;}
.zu-success-h1{font-weight: bold;color: #d71345;line-height: 1.5;}
.zu-success-gray{color: #b5b5b5;}
.zu-success-a{margin-top:200px ;}
/*申请成功页面（15.12.7）End*/

/*租+申请页以及首页（15.12.7）*/

.content_apply label{font-size:18px;padding-right:0;padding-left:0;color:#9a9a9a;margin-right:16px;font-family:微软雅黑;}
.clearfix{clear:both;}
.clearfix:after{content:"020";display:block;height:0;clear:both;visibility:hidden;}
.mg_rt_13{margin-right:13px;}
.italic{font-style:italic;}
.abs_center{left:0;right:0;}
.clear-mg{margin:0;}
.padding_bottom_23{padding-bottom:23px;}
.padding_bottom_12{padding-bottom:12px;}

.head{text-align:center;position:relative;}
/*.head_sun{position:absolute;top:83px;right:30%;width:112px;height:76px;background-image:url(./assets/img/sun.png);}*/
.head_pic{width:902px;margin:34px auto 29px;}

/*申请页部分*/

.banner_bg{background:url(./assets/img/news/banner.png) no-repeat 50% 50%;width:100%;height:354px;}

.form_content{width:902px;margin:26px auto 119px;}
.apl_ipt{height:52px;font-size:14px;border-radius:8px;font-family:微软雅黑;width:330px;display:inline;color:#000;}
.apl_btn_red{text-align:center;color:#fff;font-size:24px;background-color:#c80e42;height:52px;width:334px;border-radius:8px;}
.apl_btn_left{margin-right: -18px;margin-top: 10px;}
.apl_items{width: 345px;text-align: left;margin-top: -20px;}
.apl_tip{text-align: left;color: gray;margin-left: 118px;margin-top: 8px;}
.content_apply{float:left;width:601px;text-align:right;}
.form_content .form-group{margin-bottom:29px;}
.content_cal{float:left;width:471px;padding-left:89px;}

.cal_num{font-family:微软雅黑;font-weight:700;color:#c80e42;font-size:32px;}
.cal_14px_lab{font-family:微软雅黑;font-weight:400;color:#9a9a9a;font-size:14px;}
.cal_div_wrapper{overflow-x:hidden;width:auto;margin-bottom:39px;}
.cal_detail{display:inline-block;border-left:1px solid #c80e42;margin-left:-1px;padding-right:39px;}
.cal_ipt_wrapper{text-align:right;margin-right:64px;}
.cal_red_lab{color:#c80e42;}
.cal_ipt_slt{height:52px;font-size:14px;border-radius:8px;font-family:微软雅黑;width:242px;display:inline;color:#000;}

.mg_bot_12{margin-bottom:12px;}
.mg_bot_22{margin-bottom:22px;}
.mg_rt_43{margin-right:43px;}
.mg_rt_16{margin-right: 16px;}

.zu_footer{background-color:#FFF;height:350px;}
.ft_ctt{width:773px;text-align:center;font-family:微软雅黑;color:#000;font-size:14px;padding-top:67px;margin:auto;}
.ft_18_lt{text-align:left;font-size:18px;}
.ft_2w{margin-top:40px;text-align:justify;padding-right:15px;}
.ft_2w_left{width:312px;}
.ft_2w_right{float:right;display:inline-block;width:295px;}

/*首页部分*/

.banner_bg_big{width:auto;height:981px;background:url(./assets/img/banner_big.png) no-repeat 50% 50%;text-align:center;font-size:14px;}
.banner_group{padding-top:539px;}
.banner_2w{padding-top:81px;padding-bottom:10px;}

.index_angle{position:relative;height:636px;background-color:#f7f7f7;text-align:center;color:#6a3906;background-origin:border-box;vertical-align:top;}
.angle_p{position:absolute;font-size:32px;top:181px;width:250px;margin:auto;}
.angle{display:inline-block;font-size:20px;background:url(./assets/img/angle.png) no-repeat;height:393px;width:389px;vertical-align:top;position:relative;margin:95px 43px 0;}
.angle_ctt{color:#fff;border-bottom:1px solid #fff;}
.angle_lt_top{width:180px;margin:193px auto 0;}
.angle_lt_mid{width:250px;margin:20px auto 0;}
.angle_lt_bottom{width:300px;border-bottom:0;margin:20px auto 0;}
.angle_bottom_p{font-size:22px;margin-top:55px;}
.angle_rt_top{width:172px;margin:137px auto 0;}
.angle_rt_mid{width:250px;margin:15px auto 0;}
.angle_rt_bottom{margin-top:10px;overflow-x:hidden;}
.angle_rt_bottom_part{display:inline-block;border-left:1px solid #fff;font-size:14px;padding:14px 3px;}
.bd_0{border:0;}
.angle_tips{font-size:10px;color:#6a3906;position:absolute;bottom:-18px;}

.index_improve{height:353px;padding-top:130px;text-align:center;color:#6a3906;font-size:16px;}
.improve_ctt{display:inline-block;vertical-align:top;width:350px;}
.lt_img{background-image:url(./assets/img/money.png);width:88px;height:88px;display:inline-block;float:left;margin-right:20px;}
.rt_img{background-image:url(./assets/img/tag.png);width:88px;height:88px;display:inline-block;float:left;margin-right:20px;}
.improve_p{padding-left:20px;text-align:left;width:360px;margin-top:5px;}
.improve_p_big{font-size:30px;font-weight:700;color:#c80e42;}
.index_flow{height:560px;background-color:#f7f7f7;padding-top:84px;text-align:center;color:#6a3906;font-size:16px;}
.flow_quest_part{display:inline-block;vertical-align:top;margin:0 89px;}
.flow_p_big{color:#c80e42;font-size:22px;font-weight:700;}
.flow_img{width:596px;height:171px;background-image:url(./assets/img/flow.png);margin:104px auto 0;}

.pull_left,.left_pic{float:left;}
.pull_right,.right_pic{float:right;}

/*租+申请页以及首页（15.12.7）End*/

.zu-recommend{width: 150px;height: 150px;margin: 10px auto;position: relative;overflow: hidden;background: url(./assets/img/news/house_dot.png) no-repeat;background-size: contain;}
.zu-recommend h1 {font-size: 60px;margin-top: 35px;}
.recommend-contain-float {width: 50px;height: 50px;border-radius: 50%;border: 1px dashed #b5b5b5;position: absolute;top: 0px;right: 0px;background-color: #FFFFFF;border-radius: 50%;}
.index-bg-white .index-case .recommend-contain-float{background: white;}
.hot-tag{width: 31px;height: 22px;background: url(./assets/img/news/hot_big.png) no-repeat;position: absolute;color: #FFFFFF;right: 44px;top: -21px;}

/*首页投资排行* Start*/

.font-bold{font-weight: bold}
.invest-rank{overflow: hidden;width: 1000px;margin: auto;padding: 40px 0px;}
.rank-list-h4{margin-bottom: 20px}
.rank-list-h3{margin: 20px 0;color: #d71345}
.tittle-small{font-size: 12px;vertical-align: middle;color: #696969;margin-left: 5px;}
.rk-list{border-radius: 10px; border: 1px solid #dbdbdb;background-color: #ffffff;width: 48%; text-align: center;}
.rk-radius{border-radius: 5px}
.invest-1st-rk{background-color: #c01140;color: #FFFFFF;display: inline-block;}
.invest-other-rk{background-color: #F7F5F6;color: #696969;display: inline-block;}
.invest-list-span{font-size: 15px;margin-left: 28px;}
.invest-1st-rk,.invest-other-rk{margin: 10px 0;width:90%;font-size: 18px;line-height:57px;position: relative; }
.medal-icon{background-image: url("./assets/img/public/rank_medal.png");width: 38px;height: 50px;position: absolute;top: 15px;left: 10px;}
.medal-icon-1st{background-position: 0,0;}
.medal-icon-2nd{background-position: -38px,0;}
.medal-icon-3rd{background-position: -76px,0;}
.list-date{text-align: right;margin: 10px;color: #b5b5b5;}

/*活动/节日样式 start*/

#canvas {
	background-color: black;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
}
.fes-main {
	background: url("./assets/img/festival/main.png") no-repeat 50% 50%;
	display: none;
	width: 561px;
	height: 649px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 18;
	background-size: 100% 100%;
	animation: ZoomIn 0.5s;
	-moz-animation: ZoomIn 0.5s;
	-webkit-animation: ZoomIn 0.5s;
}
.fes-close {
	background: url("./assets/img/festival/close.png") no-repeat 50% 50%;
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
@keyframes ZoomIn {
	from {
		width: 140px;
		height: 163px;
	}
	to {
		width: 561px;
		height: 649px
	}
}
@-moz-keyframes ZoomIn {
	from {
		width: 140px;
		height: 163px;
	}
	to {
		width: 561px;
		height: 649px
	}
}
@-webkit-keyframes ZoomIn {
	from {
		width: 140px;
		height: 163px;
	}
	to {
		width: 561px;
		height: 649px
	}
}
/*活动/节日样式 start*/