<template>
  <div id="app">
    <PageHeader></PageHeader>
    <router-view></router-view>
    <PageFooter></PageFooter>
  </div>
</template>

<script>
import PageHeader from 'components/PageHeader'
import PageFooter from 'components/PageFooter'
export default {
  name: 'app',
  components:{
    PageHeader,//PageFooter:PageFooter
    PageFooter
  }
}
</script>
<style lang="scss" type='stylesheet/scss'>
@import './scss/config.scss';
</style>

